force-app/main/default/flows/Check_Result_Is_Text_Set_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>768</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Text_Have_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.Is_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.HasComment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Text_Have_Score</targetReference>
            </connector>
            <label>Is Text Have Comments</label>
        </rules>
        <rules>
            <name>Is_Text_Not_Have_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.Is_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.HasComment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Text_no_Have_Score</targetReference>
            </connector>
            <label>Is Text Not Have Comments</label>
        </rules>
        <rules>
            <name>Is_Text_Need_not_fill_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.Is_Text__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CheckItem__r.HasComment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Text_Have_Score</targetReference>
            </connector>
            <label>Is Text Need not fill in</label>
        </rules>
    </decisions>
    <description>文本类型的检查项，有Comments，分数为5，没有则为-1</description>
    <environments>Default</environments>
    <interviewLabel>Check Result Is Text Set Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Result Is Text Set Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Is_Text_Have_Score</name>
        <label>Is Text Have Score</label>
        <locationX>469</locationX>
        <locationY>377</locationY>
        <inputAssignments>
            <field>Scores__c</field>
            <value>
                <elementReference>$Record.Max_Scores__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Is_Text_no_Have_Score</name>
        <label>Is Text no Have Score</label>
        <locationX>1062</locationX>
        <locationY>375</locationY>
        <inputAssignments>
            <field>Scores__c</field>
            <value>
                <numberValue>-1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <object>CheckResult__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
