force-app/main/default/flows/chile_new_user_application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>c_01d239fc_fb5f_41a6_8a25_d1564696dc8d</name>
        <choiceText>FALABELLA MALL ARICA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA MALL ARICA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_05a434bb_f168_4a92_9206_307a800788af</name>
        <choiceText>HITES EDIFICIO PUENTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES EDIFICIO PUENTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_07b2a77e_d02f_48d1_8cf5_7572e01bc607</name>
        <choiceText>LIDER SANTA AMALIA (083)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER SANTA AMALIA (083)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0f3eb0fa_55a0_41a7_a0a4_53bd3c76a2e1</name>
        <choiceText>LIDER GRAN AVENIDA (032)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER GRAN AVENIDA (032)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_10cb2393_be6a_4a9d_bee5_e7b44e3dfb76</name>
        <choiceText>PARIS RANCAGUA INDEPENDENCIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS RANCAGUA INDEPENDENCIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_124fcc07_f72a_4673_9c0b_7d846d396480</name>
        <choiceText>FALABELLA PLAZA VESPUCIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA VESPUCIO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15c36b56_ef16_4dda_8f36_7fbefd9ac14e</name>
        <choiceText>HITES PUENTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES PUENTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_17fc0ecc_ab2b_4e7c_ba65_149cfac58c4c</name>
        <choiceText>FALABELLA IQUIQUE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA IQUIQUE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_18d2ae48_fb5b_4b7d_9b8a_768beb0b928d</name>
        <choiceText>LIDER TALCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER TALCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1911d670_fe0b_4ed1_96ca_ed4cf996e35a</name>
        <choiceText>FALABELLA ARAUCO MAIPU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA ARAUCO MAIPU</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1dcd5000_e9fa_441e_99aa_e0f0f5c1d4f1</name>
        <choiceText>HITES MELIPILLA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES MELIPILLA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1f5162ee_87f4_4cef_b628_24aaae40cb0f</name>
        <choiceText>FALABELLA CASTRO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA CASTRO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_21a664df_4904_4e4c_9910_752658d13ee8</name>
        <choiceText>PARIS LA SERENA MALL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS LA SERENA MALL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2279eeb5_eb0c_4349_9128_33891a39c09e</name>
        <choiceText>ABC DIN TEMUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC DIN TEMUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_22f62654_611c_457f_8801_3e4dd328fb35</name>
        <choiceText>LIDER ANTOFAGASTA (091)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER ANTOFAGASTA (091)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_23d16ebb_29f1_4d18_9857_f6188246cd2b</name>
        <choiceText>HITES VALPARAISO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES VALPARAISO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_24a0ed4b_1f37_4bae_9b33_9bd167fa884c</name>
        <choiceText>PARIS COSTANERA CENTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS COSTANERA CENTER</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</name>
        <choiceText>Hites S.A.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hites S.A.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_283e6ddc_40c3_429b_bbdd_c62627eb4aa4</name>
        <choiceText>FALABELLA PUERTO MONTT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PUERTO MONTT</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2b08e70b_6a8e_4706_9d17_f593f4f2be51</name>
        <choiceText>FALABELLA PLAZA OESTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA OESTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2ecbd867_ffec_4a6c_a391_98ec74af1dbf</name>
        <choiceText>PARIS PORTAL TEMUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PORTAL TEMUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3047e26d_f120_4ca3_be6e_32709e8dbb8c</name>
        <choiceText>HITES CHILLAN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES CHILLAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_364b77cd_1904_4580_9f3f_2fe215612ed7</name>
        <choiceText>FALABELLA LA SERENA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA LA SERENA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_367f375a_2a46_4d2e_a7ec_ee789024b01c</name>
        <choiceText>FALABELLA CHILLAN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA CHILLAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_373754c1_1c1e_4af2_a9e7_bbc427506d56</name>
        <choiceText>PARIS MAIPU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS MAIPU</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3c493a0f_c60f_44f0_9e4f_8a68e962eb02</name>
        <choiceText>HITES TEMUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES TEMUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3d6881da_0d60_411f_bd40_aefbcefb197f</name>
        <choiceText>FALABELLA TALCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA TALCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e866e1c_e3a6_4420_b91e_9611af92df5f</name>
        <choiceText>CENCOSUD RETAIL S.A.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CENCOSUD RETAIL S.A.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_41053f07_c16b_4c4a_a143_2555d2f4f998</name>
        <choiceText>FALABELLA RETAIL S.A.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA RETAIL S.A.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_417b7c30_a19c_442e_9683_f773896af03d</name>
        <choiceText>FALABELLA PLAZA NORTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA NORTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_44be8448_5af2_4fb4_85f3_91a10ab43de8</name>
        <choiceText>FALABELLA PLAZA TREBOL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA TREBOL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_459a89c9_638a_4b3e_abc5_5b2333a79e35</name>
        <choiceText>PARIS PLAZA VESPUCIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PLAZA VESPUCIO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_476f5266_a043_4fd1_a10e_439603953367</name>
        <choiceText>ABCDIN PUENTE ALTO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABCDIN PUENTE ALTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_49fefb79_7fca_4e82_980e_1dcd159626ef</name>
        <choiceText>ABC DIN CONCEPCION PRINCIPAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC DIN CONCEPCION PRINCIPAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4e11ede8_b710_44c4_8f8f_36164fde3c6e</name>
        <choiceText>PARIS VALPARAISO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS VALPARAISO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_504a304f_52d5_465d_83d3_3bbb9572f707</name>
        <choiceText>LIDER RANCAGUA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER RANCAGUA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5123309a_821a_4c97_9f64_fd222ec85d8b</name>
        <choiceText>SODIMAC HUECHURABA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SODIMAC HUECHURABA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53230abc_b6d2_444a_a892_febef4c841ec</name>
        <choiceText>Walmart Chile S.A.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Walmart Chile S.A.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53f5136f_6d8b_4e1f_a466_072df9c5d66d</name>
        <choiceText>DISTRIBUIDORA DE INDUSTRIAS NACIONALES S.A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DISTRIBUIDORA DE INDUSTRIAS NACIONALES S.A</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_54702051_4673_49d4_a68d_ccd4e2a9b684</name>
        <choiceText>PARIS RANCAGUA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS RANCAGUA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_548a684d_b6db_4c59_8f21_5e312090036e</name>
        <choiceText>HITES OSORNO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES OSORNO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5548c95c_9a19_4555_890d_b2422991f59c</name>
        <choiceText>LIDER ARICA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER ARICA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_56661abf_b3da_4237_9bfb_2569ca47a3ff</name>
        <choiceText>LIDER PUERTO MONTT (099)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER PUERTO MONTT (099)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58e52c3b_c8dc_40ea_afd5_376f71cd9742</name>
        <choiceText>LIDER ALAMEDA (072)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER ALAMEDA (072)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_59711884_5ef9_49ad_a66d_007bbd6bd02f</name>
        <choiceText>Floor Walker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Floor Walker </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5bda55e5_51be_4fe6_9882_0e0182dba10f</name>
        <choiceText>FALABELLA SAN BERNARDO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA SAN BERNARDO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5f76fe7d_4151_46d2_9637_65d3562ff3f3</name>
        <choiceText>PARIS ANTOFAGASTA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS ANTOFAGASTA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62816582_ff11_4ac9_a596_19411ab781ae</name>
        <choiceText>FALABELLA INDEPENDENCIA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA INDEPENDENCIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62e29f64_e72e_46a8_b786_b9cb8e061231</name>
        <choiceText>PARIS CALAMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS CALAMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62e52f4d_2de8_41db_b641_5c8bad4668a2</name>
        <choiceText>HITES PUENTE ALTO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES PUENTE ALTO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_655d0501_599a_45ab_ba2f_49ebdaa7ee9c</name>
        <choiceText>PARIS ARICA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS ARICA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_684b2163_a772_42d6_9450_df5242ae6121</name>
        <choiceText>FALABELLA VALPARAISO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA VALPARAISO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6c41906e_2e05_4a09_a0ce_b904eb182868</name>
        <choiceText>PARIS PLAZA EL ROBLE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PLAZA EL ROBLE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_73fecfb7_bb26_4e6b_acd6_6fec11aae967</name>
        <choiceText>FALABELLA COSTANERA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA COSTANERA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_75bf4019_331d_4a38_bad9_724fe017b700</name>
        <choiceText>FALABELLA CALAMA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA CALAMA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7860443d_4954_43be_8e71_7c6e43751b11</name>
        <choiceText>PARIS BARROS ARANA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS BARROS ARANA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c35d7d2_fb51_4def_a144_976742da43a4</name>
        <choiceText>LIDER HUECHURABA (041)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER HUECHURABA (041)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7f445f8a_2c33_4fb1_93cc_7e8e3b42803b</name>
        <choiceText>LIDER CALAMA (033)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER CALAMA (033)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_83faa4f0_5cee_4a0e_ab4b_103ebcbadb3f</name>
        <choiceText>FALABELLA LOS ANGELES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA LOS ANGELES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_873da1d0_d15b_44ce_adc8_cf84485412f8</name>
        <choiceText>LIDER PRIETO NORTE (096)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER PRIETO NORTE (096)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89288a54_d11b_4b8c_8a2a_7d15525e0761</name>
        <choiceText>PARIS SAN BERNARDO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS SAN BERNARDO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8933fada_3b27_4822_b310_a4b4bbb7412f</name>
        <choiceText>HITES ANTOFAGASTA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES ANTOFAGASTA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89846a30_83e5_4413_9c5d_b25d3ff1348e</name>
        <choiceText>ABC DIN RANCAGUA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC DIN RANCAGUA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8c0eeab2_f2dd_48b0_ab7d_ef7d766aa623</name>
        <choiceText>PARIS COPIAPO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS COPIAPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8c7e9da2_4421_4c83_aa12_cfa1e49a3cb0</name>
        <choiceText>LIDER PRAT (098)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER PRAT (098)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8def9725_97f3_4422_8e04_f9af257280ac</name>
        <choiceText>SODIMAC MAIPU (088)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SODIMAC MAIPU (088)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9009ae81_d2a2_4e1a_8aca_85bc7cefb7f5</name>
        <choiceText>PARIS ALTO LAS CONDES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS ALTO LAS CONDES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_90a949ab_4d21_47a3_b43e_8df221762063</name>
        <choiceText>FALABELLA MELIPILLA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA MELIPILLA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96d8f8d7_dbb7_4fc3_b4db_f2520d2e9f20</name>
        <choiceText>FALABELLA OSORNO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA OSORNO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9b9f7194_1ba3_48f1_965c_2ae8aab10726</name>
        <choiceText>HITES PLAZA DE ARMAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES PLAZA DE ARMAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9cce8599_e5d9_45c6_a5a1_d4d4651a6f1d</name>
        <choiceText>PARIS VESPUCIO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS VESPUCIO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e4e9b77_2338_4fc6_ac7d_7b82248287dd</name>
        <choiceText>Paris Parque Arauco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paris Parque Arauco</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9e52c98e_c52f_421f_a427_85d92248a5ae</name>
        <choiceText>FALABELLA CONCEPCION</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA CONCEPCION</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a0a9a7d5_0e79_4980_8449_0f702293748b</name>
        <choiceText>PARIS PUERTO MONTT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PUERTO MONTT</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a544f62c_2faa_4b80_877a_8fd5e94511ca</name>
        <choiceText>ABC DIN CASTRO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC DIN CASTRO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a57573a4_5094_4284_9972_d38bddbf7d58</name>
        <choiceText>LIDER IQUIQUE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER IQUIQUE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a75fc967_0ae5_48e9_ac2a_0404afc258ae</name>
        <choiceText>SODIMAC PARQUE ARAUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SODIMAC PARQUE ARAUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a7625b24_4762_45e3_bc87_0b7018cb5d9a</name>
        <choiceText>PARIS PLAZA TREBOL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PLAZA TREBOL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aa6af931_5c02_4c62_bf79_8bb7b5a9d61d</name>
        <choiceText>LIDER VI&amp;Ntilde;A DEL MAR (632)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER VIÑA DEL MAR (632)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ace8cd1d_b58d_44b5_a538_b39500dfb7c5</name>
        <choiceText>FALABELLA ALTO LAS CONDES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA ALTO LAS CONDES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_addd7131_8d05_464e_9f4f_687a766bb066</name>
        <choiceText>LIDER MAIPU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER MAIPU</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b269dcb4_6964_4237_bca9_173d13684c37</name>
        <choiceText>LIDER 15 NORTE (058)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER 15 NORTE (058)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ba1851d9_cea8_4ef6_97fc_ed1ee7817101</name>
        <choiceText>FALABELLA CURICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA CURICO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bc213fda_9874_48b8_a7d9_2e905013a8e7</name>
        <choiceText>PARIS LOS ANGELES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS LOS ANGELES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bf97a639_d3e3_42de_8001_4ae8635f781a</name>
        <choiceText>FALABELLA COPIAPO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA COPIAPO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bfaa9d29_3cc2_4415_b93b_3ba1f96e8046</name>
        <choiceText>HITES CONCEPCION</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES CONCEPCION</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c0f27677_8942_4293_ad0a_fdec757a0c6d</name>
        <choiceText>LIDER BIO BIO (089)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER BIO BIO (089)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c377bf03_ad5d_4ff9_9205_90cd7ca1e141</name>
        <choiceText>PARIS FLORIDA CENTER</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS FLORIDA CENTER</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c806e346_f3af_4eac_b9cd_17a3a96b7361</name>
        <choiceText>FALABELLA DOMINICOS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA DOMINICOS</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c922414d_8c74_4304_a9bf_1a9aca759a89</name>
        <choiceText>FALABELLA ANTOFAGASTA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA ANTOFAGASTA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cc2527bb_82a3_4fee_9607_e9602ca5fe2d</name>
        <choiceText>FALABELLA PLAZA TOBALABA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA TOBALABA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cd1f9e12_b834_47c7_9ca7_9edc3b8da426</name>
        <choiceText>LIDER EXPRESS CASTRO (657)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER EXPRESS CASTRO (657)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cea2e3bb_ef6f_4d7c_9f31_d6a9fd750af4</name>
        <choiceText>ABC DIN MELIPILLA PLAZA DE ARMAS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABC DIN MELIPILLA PLAZA DE ARMAS</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf6aaf53_fbf3_43c0_94a0_b995479674d2</name>
        <choiceText>Promoter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Promoter </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cf8ae36b_680c_45d2_adee_83768007ed1b</name>
        <choiceText>FALABELLA VI&amp;Ntilde;A DEL MAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA VIÑA DEL MAR</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfa95172_2efe_4647_b898_782dbf44b9e4</name>
        <choiceText>FALABELLA PARQUE ARAUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PARQUE ARAUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfce19e2_0d7f_4a63_8d68_fff4a9b749eb</name>
        <choiceText>HITES SAN BERNARDO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES SAN BERNARDO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d0113caf_df25_4bdc_8693_c36411bdb52d</name>
        <choiceText>HITES TALCA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES TALCA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d60618da_6a31_41a6_84c1_7cfad161fbee</name>
        <choiceText>HITES RANCAGUA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES RANCAGUA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d6375778_46c5_414f_bd16_7e2a0fc81b45</name>
        <choiceText>PARIS MARINA ARAUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS MARINA ARAUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d94ae0e5_5796_440d_8b9e_f27c4ab00dbe</name>
        <choiceText>FALABELLA PUENTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PUENTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dc7a0213_7f18_4621_b204_396ea30084de</name>
        <choiceText>PARIS PLAZA OESTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PLAZA OESTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_dd2fa587_7858_4833_a2db_933c8b3b4427</name>
        <choiceText>PARIS MELIPILLA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS MELIPILLA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e01503b7_d572_4182_8904_6ef0a6a9bdf8</name>
        <choiceText>FALABELLA PLAZA EGA&amp;Ntilde;A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA PLAZA EGAÑA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e1bc2ef7_6c72_43f5_aa42_32566a269088</name>
        <choiceText>PARIS ESTACION CENTRAL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS ESTACION CENTRAL</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e30fb4fd_91d4_47cc_90d4_d7fd78dac896</name>
        <choiceText>LIDER PLAZA OESTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER PLAZA OESTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e6356904_a77d_4af9_9b5b_1a74f94f025a</name>
        <choiceText>PARIS PLAZA NORTE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS PLAZA NORTE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e7478055_8e86_4d05_a4e5_e6803475a17a</name>
        <choiceText>FALABELLA RANCAGUA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA RANCAGUA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e7b3f3e7_8f03_438e_92c3_9c6171c9ad14</name>
        <choiceText>ABCDIN ARICA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABCDIN ARICA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e881c73f_5e0e_44da_9c0e_7699a3f93496</name>
        <choiceText>LIDER VESPUCIO / MAIPU</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER VESPUCIO / MAIPU</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ee795ffa_a80e_441f_a972_2e8fdd47ec62</name>
        <choiceText>FALABELLA TEMUCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA TEMUCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0c50423_3c00_432b_a945_4f3e963de4bb</name>
        <choiceText>PARIS IQUIQUE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PARIS IQUIQUE</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f2469c7b_162d_4f14_a0eb_0a6ef26934b4</name>
        <choiceText>ABCDIN VI&amp;Ntilde;A DEL MAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ABCDIN VIÑA DEL MAR</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f37f595e_df8f_438a_b237_48f0fa09eee6</name>
        <choiceText>HITES CURICO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES CURICO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f4f2d6f3_17d3_46b5_b523_356d99a8ac02</name>
        <choiceText>FALABELLA AHUMADA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FALABELLA AHUMADA</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f78a424f_7ff5_4016_ae62_5d1d4140601b</name>
        <choiceText>HITES LOS ANGELES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HITES LOS ANGELES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fac98666_8d9f_43fe_a77d_75f10ed07335</name>
        <choiceText>LIDER PUENTE ALTO (073)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIDER PUENTE ALTO (073)</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_01f2d797_d0a0_4219_82c9_84506c6f17cf</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_a78ca74f_fbf0_488e_b912_e9c879bef8e1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_a9b1500f_8388_4f50_b6d2_38d5ec35a96c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_41053f07_c16b_4c4a_a143_2555d2f4f998</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a78ca74f_fbf0_488e_b912_e9c879bef8e1</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_78cce873_c565_4985_9f37_8c110b7b5891</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_670d61dc_322c_4690_a3bc_e2800bfdef77</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_28a189fb_24c1_4018_9892_11045c62635e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53230abc_b6d2_444a_a892_febef4c841ec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_967e3c4d_2b79_49bc_86b1_87d9e8de5d96</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_3e866e1c_e3a6_4420_b91e_9611af92df5f</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_04935961_726a_4c02_a3af_60ab1267a1d6</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_c63ee9a8_0847_446e_a311_649b51f3745a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_3ab8ad8c_c5be_46bf_bc2e_b9a08ee28b0a</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_d0b4b0d3_5e85_4f02_aebc_2062bafb368f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53230abc_b6d2_444a_a892_febef4c841ec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_47b26475_dceb_4012_8879_f4de7e6bca33</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_5a4bb8a6_7401_44ba_ba45_748a4d930128</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_dcb35ff4_9716_4def_a08b_5f29a52f0d50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_0cd995d3_0852_44ad_bf2b_a535aa37002f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53f5136f_6d8b_4e1f_a466_072df9c5d66d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_dcb35ff4_9716_4def_a08b_5f29a52f0d50</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_152686e4_22f4_4031_81a1_3e263bb08613</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_3e866e1c_e3a6_4420_b91e_9611af92df5f</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_36f8f641_d319_4d9f_8405_1c6261da89ea</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_4cc3286a_78b0_4966_88e3_210a6bfed557</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_41053f07_c16b_4c4a_a143_2555d2f4f998</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a78ca74f_fbf0_488e_b912_e9c879bef8e1</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_05781be4_e664_4710_938b_66d71f5c4d92</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_670d61dc_322c_4690_a3bc_e2800bfdef77</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_7df765bd_fc59_48c2_98d5_ad73af28ee7f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53230abc_b6d2_444a_a892_febef4c841ec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_ac240594_b33b_4668_903e_3bdab592bbe8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_8c478c13_4596_4cec_909b_d9144c36ef12</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_670d61dc_322c_4690_a3bc_e2800bfdef77</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_13ab66ac_07b4_4b64_a9fe_44bb2064f0b3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_670d61dc_322c_4690_a3bc_e2800bfdef77</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_a0c489d8_cb3d_40aa_bef6_f4c0e348b927</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53230abc_b6d2_444a_a892_febef4c841ec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_ca7c6b3f_8b5a_4999_965c_8e236f20a06d</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_41053f07_c16b_4c4a_a143_2555d2f4f998</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <decisions>
        <name>d_9df39eab_34a9_4635_8062_fd20746bf6e1</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_36f8f641_d319_4d9f_8405_1c6261da89ea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_1cf47c4d_0107_41c7_9077_75970d81e6ea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_3e866e1c_e3a6_4420_b91e_9611af92df5f</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_36f8f641_d319_4d9f_8405_1c6261da89ea</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_93862952_2a03_4cbd_a417_d014c11e379e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_41053f07_c16b_4c4a_a143_2555d2f4f998</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a78ca74f_fbf0_488e_b912_e9c879bef8e1</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_fa713ac5_3117_4d1b_9983_23681294f235</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_670d61dc_322c_4690_a3bc_e2800bfdef77</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_530b7633_7425_4a2e_bdaa_b7e6a8f4f915</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_53230abc_b6d2_444a_a892_febef4c841ec</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_cd368e9d_0bd6_4a90_a360_a2849eefcdb6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>MultiChoice</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d680b55c_46b5_4cf1_83ba_e08de001159c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_53f5136f_6d8b_4e1f_a466_072df9c5d66d</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_4cd90862_fbf7_4236_952a_4656ae068ffe</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>Chile New User Application</interviewLabel>
    <label>Chile New User Application</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_chile_new_user_application_3_e5f267e9_5ee0_4400_9ae1_74e290a51715</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_36f8f641_d319_4d9f_8405_1c6261da89ea</name>
        <label>CENCOSUD RETAIL S.A.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_01f2d797_d0a0_4219_82c9_84506c6f17cf</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_911e9bd8_06bf_41ad_a91b_438b9ea61615</name>
            <choiceReferences>c_9009ae81_d2a2_4e1a_8aca_85bc7cefb7f5</choiceReferences>
            <choiceReferences>c_5f76fe7d_4151_46d2_9637_65d3562ff3f3</choiceReferences>
            <choiceReferences>c_655d0501_599a_45ab_ba2f_49ebdaa7ee9c</choiceReferences>
            <choiceReferences>c_7860443d_4954_43be_8e71_7c6e43751b11</choiceReferences>
            <choiceReferences>c_62e29f64_e72e_46a8_b786_b9cb8e061231</choiceReferences>
            <choiceReferences>c_8c0eeab2_f2dd_48b0_ab7d_ef7d766aa623</choiceReferences>
            <choiceReferences>c_24a0ed4b_1f37_4bae_9b33_9bd167fa884c</choiceReferences>
            <choiceReferences>c_e1bc2ef7_6c72_43f5_aa42_32566a269088</choiceReferences>
            <choiceReferences>c_c377bf03_ad5d_4ff9_9205_90cd7ca1e141</choiceReferences>
            <choiceReferences>c_f0c50423_3c00_432b_a945_4f3e963de4bb</choiceReferences>
            <choiceReferences>c_21a664df_4904_4e4c_9910_752658d13ee8</choiceReferences>
            <choiceReferences>c_bc213fda_9874_48b8_a7d9_2e905013a8e7</choiceReferences>
            <choiceReferences>c_373754c1_1c1e_4af2_a9e7_bbc427506d56</choiceReferences>
            <choiceReferences>c_d6375778_46c5_414f_bd16_7e2a0fc81b45</choiceReferences>
            <choiceReferences>c_dd2fa587_7858_4833_a2db_933c8b3b4427</choiceReferences>
            <choiceReferences>c_9e4e9b77_2338_4fc6_ac7d_7b82248287dd</choiceReferences>
            <choiceReferences>c_6c41906e_2e05_4a09_a0ce_b904eb182868</choiceReferences>
            <choiceReferences>c_e6356904_a77d_4af9_9b5b_1a74f94f025a</choiceReferences>
            <choiceReferences>c_dc7a0213_7f18_4621_b204_396ea30084de</choiceReferences>
            <choiceReferences>c_a7625b24_4762_45e3_bc87_0b7018cb5d9a</choiceReferences>
            <choiceReferences>c_459a89c9_638a_4b3e_abc5_5b2333a79e35</choiceReferences>
            <choiceReferences>c_2ecbd867_ffec_4a6c_a391_98ec74af1dbf</choiceReferences>
            <choiceReferences>c_a0a9a7d5_0e79_4980_8449_0f702293748b</choiceReferences>
            <choiceReferences>c_54702051_4673_49d4_a68d_ccd4e2a9b684</choiceReferences>
            <choiceReferences>c_10cb2393_be6a_4a9d_bee5_e7b44e3dfb76</choiceReferences>
            <choiceReferences>c_89288a54_d11b_4b8c_8a2a_7d15525e0761</choiceReferences>
            <choiceReferences>c_4e11ede8_b710_44c4_8f8f_36164fde3c6e</choiceReferences>
            <choiceReferences>c_9cce8599_e5d9_45c6_a5a1_d4d4651a6f1d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Store under CENCOSUD RETAIL S.A.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Choose  which store you work in</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_4cd90862_fbf7_4236_952a_4656ae068ffe</name>
        <label>Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9a430b21_9c43_4873_b723_1aba7c39245f</name>
            <choiceReferences>c_c806e346_f3af_4eac_b9cd_17a3a96b7361</choiceReferences>
            <choiceReferences>c_e01503b7_d572_4182_8904_6ef0a6a9bdf8</choiceReferences>
            <choiceReferences>c_5123309a_821a_4c97_9f64_fd222ec85d8b</choiceReferences>
            <choiceReferences>c_8def9725_97f3_4422_8e04_f9af257280ac</choiceReferences>
            <choiceReferences>c_a75fc967_0ae5_48e9_ac2a_0404afc258ae</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Other stores&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_5fbdb5cd_b575_4b92_82eb_b5447d982ffa</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_5a4bb8a6_7401_44ba_ba45_748a4d930128</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d154fa83_0777_47f1_923d_1750839caa88</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your name&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>ValidationType</name>
                <value>
                    <stringValue>Custom</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>pattern</name>
                <value>
                    <stringValue>[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0b4ff1dc_49b3_4ed3_b14e_e4f2fee4e1f5</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your email address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>we will create your account according to your email address ,pls  Input  such as :xxx@xx.xx</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>The format of your response is invalid. Try entering your response in a different format.</errorMessage>
                <formulaExpression>REGEX({!q_0b4ff1dc_49b3_4ed3_b14e_e4f2fee4e1f5},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_47a4a003_577d_403c_a702_8d759123b51b</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your WhatsApp Account &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>we  will add you into our support chat group ,we can receive your problem about system in time</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_353c3db7_2ea3_4185_8082_7aea2ce21067</name>
            <choiceReferences>c_59711884_5ef9_49ad_a66d_007bbd6bd02f</choiceReferences>
            <choiceReferences>c_cf6aaf53_fbf3_43c0_94a0_b995479674d2</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;What about your position &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d680b55c_46b5_4cf1_83ba_e08de001159c</name>
            <choiceReferences>c_53f5136f_6d8b_4e1f_a466_072df9c5d66d</choiceReferences>
            <choiceReferences>c_3e866e1c_e3a6_4420_b91e_9611af92df5f</choiceReferences>
            <choiceReferences>c_41053f07_c16b_4c4a_a143_2555d2f4f998</choiceReferences>
            <choiceReferences>c_253dbeb1_5920_4a34_ad33_46ae2aa0e629</choiceReferences>
            <choiceReferences>c_53230abc_b6d2_444a_a892_febef4c841ec</choiceReferences>
            <choiceReferences>c_76ca73c5_1437_4e0e_a89b_449ecdae87d2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;what distributor you belong to &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_670d61dc_322c_4690_a3bc_e2800bfdef77</name>
        <label>Hites S.A.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_3ab8ad8c_c5be_46bf_bc2e_b9a08ee28b0a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2d74d364_bcc6_4c36_9fbb_d254111dceb2</name>
            <choiceReferences>c_8933fada_3b27_4822_b310_a4b4bbb7412f</choiceReferences>
            <choiceReferences>c_3047e26d_f120_4ca3_be6e_32709e8dbb8c</choiceReferences>
            <choiceReferences>c_bfaa9d29_3cc2_4415_b93b_3ba1f96e8046</choiceReferences>
            <choiceReferences>c_f37f595e_df8f_438a_b237_48f0fa09eee6</choiceReferences>
            <choiceReferences>c_05a434bb_f168_4a92_9206_307a800788af</choiceReferences>
            <choiceReferences>c_f78a424f_7ff5_4016_ae62_5d1d4140601b</choiceReferences>
            <choiceReferences>c_1dcd5000_e9fa_441e_99aa_e0f0f5c1d4f1</choiceReferences>
            <choiceReferences>c_548a684d_b6db_4c59_8f21_5e312090036e</choiceReferences>
            <choiceReferences>c_9b9f7194_1ba3_48f1_965c_2ae8aab10726</choiceReferences>
            <choiceReferences>c_15c36b56_ef16_4dda_8f36_7fbefd9ac14e</choiceReferences>
            <choiceReferences>c_62e52f4d_2de8_41db_b641_5c8bad4668a2</choiceReferences>
            <choiceReferences>c_d60618da_6a31_41a6_84c1_7cfad161fbee</choiceReferences>
            <choiceReferences>c_cfce19e2_0d7f_4a63_8d68_fff4a9b749eb</choiceReferences>
            <choiceReferences>c_d0113caf_df25_4bdc_8693_c36411bdb52d</choiceReferences>
            <choiceReferences>c_3c493a0f_c60f_44f0_9e4f_8a68e962eb02</choiceReferences>
            <choiceReferences>c_23d16ebb_29f1_4d18_9857_f6188246cd2b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Stores under Hites S.A.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Choose  which store you work in</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a78ca74f_fbf0_488e_b912_e9c879bef8e1</name>
        <label>FALABELLA RETAIL S.A.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_8c478c13_4596_4cec_909b_d9144c36ef12</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_afa042b8_d0c6_4a2e_ae4f_281608258fb2</name>
            <choiceReferences>c_f4f2d6f3_17d3_46b5_b523_356d99a8ac02</choiceReferences>
            <choiceReferences>c_ace8cd1d_b58d_44b5_a538_b39500dfb7c5</choiceReferences>
            <choiceReferences>c_c922414d_8c74_4304_a9bf_1a9aca759a89</choiceReferences>
            <choiceReferences>c_1911d670_fe0b_4ed1_96ca_ed4cf996e35a</choiceReferences>
            <choiceReferences>c_75bf4019_331d_4a38_bad9_724fe017b700</choiceReferences>
            <choiceReferences>c_1f5162ee_87f4_4cef_b628_24aaae40cb0f</choiceReferences>
            <choiceReferences>c_367f375a_2a46_4d2e_a7ec_ee789024b01c</choiceReferences>
            <choiceReferences>c_9e52c98e_c52f_421f_a427_85d92248a5ae</choiceReferences>
            <choiceReferences>c_bf97a639_d3e3_42de_8001_4ae8635f781a</choiceReferences>
            <choiceReferences>c_73fecfb7_bb26_4e6b_acd6_6fec11aae967</choiceReferences>
            <choiceReferences>c_ba1851d9_cea8_4ef6_97fc_ed1ee7817101</choiceReferences>
            <choiceReferences>c_62816582_ff11_4ac9_a596_19411ab781ae</choiceReferences>
            <choiceReferences>c_17fc0ecc_ab2b_4e7c_ba65_149cfac58c4c</choiceReferences>
            <choiceReferences>c_364b77cd_1904_4580_9f3f_2fe215612ed7</choiceReferences>
            <choiceReferences>c_83faa4f0_5cee_4a0e_ab4b_103ebcbadb3f</choiceReferences>
            <choiceReferences>c_01d239fc_fb5f_41a6_8a25_d1564696dc8d</choiceReferences>
            <choiceReferences>c_90a949ab_4d21_47a3_b43e_8df221762063</choiceReferences>
            <choiceReferences>c_96d8f8d7_dbb7_4fc3_b4db_f2520d2e9f20</choiceReferences>
            <choiceReferences>c_cfa95172_2efe_4647_b898_782dbf44b9e4</choiceReferences>
            <choiceReferences>c_417b7c30_a19c_442e_9683_f773896af03d</choiceReferences>
            <choiceReferences>c_2b08e70b_6a8e_4706_9d17_f593f4f2be51</choiceReferences>
            <choiceReferences>c_cc2527bb_82a3_4fee_9607_e9602ca5fe2d</choiceReferences>
            <choiceReferences>c_44be8448_5af2_4fb4_85f3_91a10ab43de8</choiceReferences>
            <choiceReferences>c_124fcc07_f72a_4673_9c0b_7d846d396480</choiceReferences>
            <choiceReferences>c_d94ae0e5_5796_440d_8b9e_f27c4ab00dbe</choiceReferences>
            <choiceReferences>c_283e6ddc_40c3_429b_bbdd_c62627eb4aa4</choiceReferences>
            <choiceReferences>c_e7478055_8e86_4d05_a4e5_e6803475a17a</choiceReferences>
            <choiceReferences>c_5bda55e5_51be_4fe6_9882_0e0182dba10f</choiceReferences>
            <choiceReferences>c_3d6881da_0d60_411f_bd40_aefbcefb197f</choiceReferences>
            <choiceReferences>c_ee795ffa_a80e_441f_a972_2e8fdd47ec62</choiceReferences>
            <choiceReferences>c_684b2163_a772_42d6_9450_df5242ae6121</choiceReferences>
            <choiceReferences>c_cf8ae36b_680c_45d2_adee_83768007ed1b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Stores under FALABELLA RETAIL S.A.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Choose  which store you work in</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b1dd86a5_3620_4571_9cdc_b34c036e3fde</name>
        <label>Walmart Chile S.A.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_04935961_726a_4c02_a3af_60ab1267a1d6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ad1391a7_89ae_463e_b995_b644e60be18a</name>
            <choiceReferences>c_b269dcb4_6964_4237_bca9_173d13684c37</choiceReferences>
            <choiceReferences>c_58e52c3b_c8dc_40ea_afd5_376f71cd9742</choiceReferences>
            <choiceReferences>c_22f62654_611c_457f_8801_3e4dd328fb35</choiceReferences>
            <choiceReferences>c_5548c95c_9a19_4555_890d_b2422991f59c</choiceReferences>
            <choiceReferences>c_c0f27677_8942_4293_ad0a_fdec757a0c6d</choiceReferences>
            <choiceReferences>c_7f445f8a_2c33_4fb1_93cc_7e8e3b42803b</choiceReferences>
            <choiceReferences>c_cd1f9e12_b834_47c7_9ca7_9edc3b8da426</choiceReferences>
            <choiceReferences>c_0f3eb0fa_55a0_41a7_a0a4_53bd3c76a2e1</choiceReferences>
            <choiceReferences>c_7c35d7d2_fb51_4def_a144_976742da43a4</choiceReferences>
            <choiceReferences>c_a57573a4_5094_4284_9972_d38bddbf7d58</choiceReferences>
            <choiceReferences>c_addd7131_8d05_464e_9f4f_687a766bb066</choiceReferences>
            <choiceReferences>c_e30fb4fd_91d4_47cc_90d4_d7fd78dac896</choiceReferences>
            <choiceReferences>c_8c7e9da2_4421_4c83_aa12_cfa1e49a3cb0</choiceReferences>
            <choiceReferences>c_873da1d0_d15b_44ce_adc8_cf84485412f8</choiceReferences>
            <choiceReferences>c_fac98666_8d9f_43fe_a77d_75f10ed07335</choiceReferences>
            <choiceReferences>c_56661abf_b3da_4237_9bfb_2569ca47a3ff</choiceReferences>
            <choiceReferences>c_504a304f_52d5_465d_83d3_3bbb9572f707</choiceReferences>
            <choiceReferences>c_07b2a77e_d02f_48d1_8cf5_7572e01bc607</choiceReferences>
            <choiceReferences>c_18d2ae48_fb5b_4b7d_9b8a_768beb0b928d</choiceReferences>
            <choiceReferences>c_e881c73f_5e0e_44da_9c0e_7699a3f93496</choiceReferences>
            <choiceReferences>c_aa6af931_5c02_4c62_bf79_8bb7b5a9d61d</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Stores under Walmart Chile S.A.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Choose which store you work in</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_dcb35ff4_9716_4def_a08b_5f29a52f0d50</name>
        <label>DISTRIBUIDORA DE INDUSTRIAS NACIONALES S.A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_9df39eab_34a9_4635_8062_fd20746bf6e1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e2fb0064_6e10_4cea_be5a_515cae6cf219</name>
            <choiceReferences>c_a544f62c_2faa_4b80_877a_8fd5e94511ca</choiceReferences>
            <choiceReferences>c_49fefb79_7fca_4e82_980e_1dcd159626ef</choiceReferences>
            <choiceReferences>c_cea2e3bb_ef6f_4d7c_9f31_d6a9fd750af4</choiceReferences>
            <choiceReferences>c_89846a30_83e5_4413_9c5d_b25d3ff1348e</choiceReferences>
            <choiceReferences>c_2279eeb5_eb0c_4349_9128_33891a39c09e</choiceReferences>
            <choiceReferences>c_e7b3f3e7_8f03_438e_92c3_9c6171c9ad14</choiceReferences>
            <choiceReferences>c_476f5266_a043_4fd1_a10e_439603953367</choiceReferences>
            <choiceReferences>c_f2469c7b_162d_4f14_a0eb_0a6ef26934b4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;stores under DISTRIBUIDORA DE INDUSTRIAS NACIONALES S.A&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <helpText>Choose  which store you work in</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_5fbdb5cd_b575_4b92_82eb_b5447d982ffa</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;thank you for your time ,we will  send feedback email to your email address. and pls donwload the &quot;Salesforce&quot; APP  thru google play or apple store. the app look like below pic&lt;/strong&gt;&lt;img src=&quot;https://hisenseint.file.force.com/file-asset-public/Image_20240510125944?oid=00DA8000004BDqs&amp;amp;v=1&quot; alt=&quot;Image_20240510125944&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Welcome join  Hisense Chile Team ，Pls fulfill this form，our support team will create new account for you after receiving your info&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
