force-app/main/default/flows/Customer_Visit_Send_Email_For_Japan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>777</locationX>
        <locationY>452</locationY>
        <actionName>CustomerVisitSendEmailInvocableMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendEmailToFalse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerVisitIdList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerVisitSendEmailInvocableMethod</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>replace_url</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.MeetingContent__c}, &apos;https://hisenseint.file.force.com/servlet/rtaImage&apos;, &apos;https://hisenseint.my.salesforce-sites.com/servlet/rtaImage&apos;)</expression>
    </formulas>
    <interviewLabel>Customer Visit Send Email For Japan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Visit Send Email For Japan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>发送邮件后标记变为false</description>
        <name>SendEmailToFalse</name>
        <label>SendEmailToFalse</label>
        <locationX>777</locationX>
        <locationY>632</locationY>
        <inputAssignments>
            <field>isSendEmail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>isSendEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hisense Japan</stringValue>
            </value>
        </filters>
        <object>Customer_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>商谈报告body</description>
        <name>Customer_Visit_SendEmail_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;各位&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;お疲れ様です。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;商談報告書を送付いたします。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;ご確認お願い致します。&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Rich_Text}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Record.RecordLink__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 102, 255); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.RecordLink__c}&lt;/a&gt;&lt;a href=&quot;{!$Record.RecordLink__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 120, 253); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>商谈报告Subject</description>
        <name>Customer_Visit_SendEmail_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>商談報告書 &quot;{!$Record.Customer__r.Name}  {!$Record.JP_Product_Line__c}   {!$Record.Visit_Date__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>Rich_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!replace_url}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
