force-app/main/default/flows/Customer_Address_Set_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>768</locationX>
        <locationY>561</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Term</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Term</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>设置Payment Term和Reconciliation Customer</description>
    <environments>Default</environments>
    <formulas>
        <name>ReconciliationCustomer</name>
        <dataType>String</dataType>
        <expression>if(text({!$Record.Hisense_Entity__c})=&apos;8000&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8010&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8040&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8050&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8060&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8070&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8080&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8090&apos;,&apos;1122010501&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80A0&apos;,&apos;1122019901&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80B0&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80F0&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80G0&apos;,&apos;1122010101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80K0&apos;,&apos;1122010501&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80N0&apos;,&apos;1122010501&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80P0&apos;,&apos;1122010501&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;80Q0&apos;,&apos;1122010501&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8110&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8120&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8140&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8170&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8200&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8210&apos;,&apos;1122020101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8300&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8320&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8330&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8340&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8350&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8370&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8380&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8390&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;83B0&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;83E0&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8400&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8410&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8420&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8430&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8440&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8450&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8460&apos;,&apos;1122020201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8470&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8500&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8510&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8520&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8530&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8540&apos;,&apos;1122020101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8610&apos;,&apos;1122019901&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8620&apos;,&apos;1122020101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8640&apos;,&apos;1122020101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8650&apos;,&apos;1122020101&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8660&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8910&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8930&apos;,&apos;1122010201&apos;,
if(text({!$Record.Hisense_Entity__c})=&apos;8999&apos;,&apos;1122010201&apos;,
&apos;&apos;
)))))))))))))))))))))))))))))))))))))))))))))))))))))</expression>
    </formulas>
    <interviewLabel>Customer Address Set Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Address Set Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Payment_Term</name>
        <label>Get Payment Term</label>
        <locationX>776</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>G001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment_Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Payment_Term</name>
        <label>Set Payment Term</label>
        <locationX>1125</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>Payment_Term_Sales__c</field>
            <value>
                <elementReference>Get_Payment_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Term__c</field>
            <value>
                <elementReference>Get_Payment_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reconciliation_Customer__c</field>
            <value>
                <elementReference>ReconciliationCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Payment_Term</targetReference>
        </connector>
        <object>Customer_Address__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
