force-app/main/default/flows/Customer_Visit_SendEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail1</name>
        <label>Customer_Visit_Japan_SendEmail1</label>
        <locationX>1547</locationX>
        <locationY>502</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address1__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail10</name>
        <label>Customer_Visit_Japan_SendEmail10</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>SendEmailToFalse</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address10__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail2</name>
        <label>Customer_Visit_Japan_SendEmail2</label>
        <locationX>1370</locationX>
        <locationY>743</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address2__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail3</name>
        <label>Customer_Visit_Japan_SendEmail3</label>
        <locationX>1194</locationX>
        <locationY>983</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address3__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail4</name>
        <label>Customer_Visit_Japan_SendEmail4</label>
        <locationX>1019</locationX>
        <locationY>1223</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address4__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail5</name>
        <label>Customer_Visit_Japan_SendEmail5</label>
        <locationX>844</locationX>
        <locationY>1463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address5__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail6</name>
        <label>Customer_Visit_Japan_SendEmail6</label>
        <locationX>671</locationX>
        <locationY>1703</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_7</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address6__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail7</name>
        <label>Customer_Visit_Japan_SendEmail7</label>
        <locationX>501</locationX>
        <locationY>1943</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address7__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail8</name>
        <label>Customer_Visit_Japan_SendEmail8</label>
        <locationX>336</locationX>
        <locationY>2183</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_9</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address8__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>日本商谈报告发送邮件（商谈内容）</description>
        <name>Customer_Visit_Japan_SendEmail9</name>
        <label>Customer_Visit_Japan_SendEmail9</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Send_Email_Address9__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Customer_Visit_SendEmail_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Send_Email_Address_Not_Null_1</name>
        <label>Send_Email_Address_Not_Null_1</label>
        <locationX>1722</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address1_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail1</targetReference>
            </connector>
            <label>Send_Email_Address1_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_10</name>
        <label>Send_Email_Address_Not_Null_10</label>
        <locationX>182</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address10_Not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address10__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail10</targetReference>
            </connector>
            <label>Send_Email_Address10_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_2</name>
        <label>Send_Email_Address_Not_Null_2</label>
        <locationX>1546</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address2_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail2</targetReference>
            </connector>
            <label>Send_Email_Address2_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_3</name>
        <label>Send_Email_Address_Not_Null_3</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address3_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail3</targetReference>
            </connector>
            <label>Send_Email_Address3_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_4</name>
        <label>Send_Email_Address_Not_Null_4</label>
        <locationX>1194</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address4_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail4</targetReference>
            </connector>
            <label>Send_Email_Address4_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_5</name>
        <label>Send_Email_Address_Not_Null_5</label>
        <locationX>1019</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address5_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail5</targetReference>
            </connector>
            <label>Send_Email_Address5_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_6</name>
        <label>Send_Email_Address_Not_Null_6</label>
        <locationX>844</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address6_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail6</targetReference>
            </connector>
            <label>Send_Email_Address6_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_7</name>
        <label>Send_Email_Address_Not_Null_7</label>
        <locationX>671</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address7_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address7__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail7</targetReference>
            </connector>
            <label>Send_Email_Address7_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_8</name>
        <label>Send_Email_Address_Not_Null_8</label>
        <locationX>501</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address8_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address8__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail8</targetReference>
            </connector>
            <label>Send_Email_Address8_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_Address_Not_Null_9</name>
        <label>Send_Email_Address_Not_Null_9</label>
        <locationX>336</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>SendEmailToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Address9_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Email_Address9__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Japan_SendEmail9</targetReference>
            </connector>
            <label>Send_Email_Address9_Not_Null</label>
        </rules>
    </decisions>
    <description>商谈报告发送富文本邮件 扩展成50个收件人</description>
    <environments>Default</environments>
    <formulas>
        <name>replace_url</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.MeetingContent__c}, &apos;https://hisenseint.file.force.com/servlet/rtaImage&apos;, &apos;https://hisenseint.my.salesforce-sites.com/servlet/rtaImage&apos;)</expression>
    </formulas>
    <interviewLabel>Customer_Visit_SendEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer_Visit_SendEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>发送邮件后标记变为false</description>
        <name>SendEmailToFalse</name>
        <label>SendEmailToFalse</label>
        <locationX>1722</locationX>
        <locationY>3743</locationY>
        <inputAssignments>
            <field>isSendEmail__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1596</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Send_Email_Address_Not_Null_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hisense Japan</stringValue>
            </value>
        </filters>
        <filters>
            <field>isSendEmail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Customer_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>商谈报告body</description>
        <name>Customer_Visit_SendEmail_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;各位&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;お疲れ様です。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;商談報告書を送付いたします。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;ご確認お願い致します。&quot;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Rich_Text}&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Record.RecordLink__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 102, 255); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.RecordLink__c}&lt;/a&gt;&lt;a href=&quot;{!$Record.RecordLink__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(5, 120, 253); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>商谈报告Subject</description>
        <name>Customer_Visit_SendEmail_Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>商談報告書 &quot;{!$Record.Customer__r.Name}  {!$Record.JP_Product_Line__c}   {!$Record.Visit_Date__c}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>Rich_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!replace_url}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
