force-app/main/default/flows/Event_Sales_Set_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>768</locationX>
        <locationY>510</locationY>
        <defaultConnector>
            <targetReference>Warranty_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Update</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Accessories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accessories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accessoriet_Update</targetReference>
            </connector>
            <label>Accessories</label>
        </rules>
        <rules>
            <name>Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount_Update</targetReference>
            </connector>
            <label>Discount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Accessories_Sub_Total</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity__c} * {!$Record.Unit_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Discount_Sub_Total</name>
        <dataType>Currency</dataType>
        <expression>- {!$Record.Quantity__c} * {!$Record.Discount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Product_Sub_Total</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity__c} * {!$Record.Unit_Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Warranty_Sub_Total</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Warranty_price_increase__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Event Sales Set Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Sales Set Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Accessoriet_Update</name>
        <label>Accessoriet Update</label>
        <locationX>995</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Product_Show__c</field>
            <value>
                <elementReference>$Record.Accessories__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Total__c</field>
            <value>
                <elementReference>Accessories_Sub_Total</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Discount_Update</name>
        <label>Discount Update</label>
        <locationX>523</locationX>
        <locationY>628</locationY>
        <inputAssignments>
            <field>Product_Show__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Total__c</field>
            <value>
                <elementReference>Discount_Sub_Total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>$Record.Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Product_Update</name>
        <label>Product Update</label>
        <locationX>526</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>Product_Show__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Total__c</field>
            <value>
                <elementReference>Product_Sub_Total</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Sales_Region</name>
        <label>Set Sales Region</label>
        <locationX>776</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Region__c</field>
            <value>
                <elementReference>$Record.Event_Receipt__r.Sales_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Warranty_Update</name>
        <label>Warranty Update</label>
        <locationX>997</locationX>
        <locationY>612</locationY>
        <inputAssignments>
            <field>Product_Show__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Total__c</field>
            <value>
                <elementReference>Warranty_Sub_Total</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Sales_Region</targetReference>
        </connector>
        <object>Event_Sales__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
