force-app/main/default/flows/Event_Receipt_Set_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>PaymentAmount_null</name>
        <label>PaymentAmount null</label>
        <locationX>598</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payment_Amount_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PaymentAmount</targetReference>
            </connector>
            <label>Payment_Amount_null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event Receipt Set Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Receipt Set Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Sales_Region</name>
        <label>Set Sales Region</label>
        <locationX>776</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>PaymentAmount_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Region__c</field>
            <value>
                <elementReference>$Record.Event_Subject__r.Sales_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PaymentAmount</name>
        <label>Update PaymentAmount</label>
        <locationX>346</locationX>
        <locationY>376</locationY>
        <inputAssignments>
            <field>Payment_Amount__c</field>
            <value>
                <elementReference>$Record.Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Sales_Region</targetReference>
        </connector>
        <object>Event_Receipt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
