force-app/main/default/flows/Inspection_Shop_Plan_Set_Target_Actual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Actual</name>
        <label>Add Actual</label>
        <locationX>1295</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Loop_Plan.Visit_Actual__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Plan_Temp_01</name>
        <label>Add Plan Temp 01</label>
        <locationX>1245</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>PlanTemp01</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Plan_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Plan_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Plan_Temp_02</name>
        <label>Add Plan Temp 02</label>
        <locationX>1103</locationX>
        <locationY>904</locationY>
        <assignmentItems>
            <assignToReference>PlanTemp02</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Plan</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Target</name>
        <label>Add Target</label>
        <locationX>1697</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>Loop_Plan.Visit_Target__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Visited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Plan_Id_List</name>
        <label>Set Plan Id List</label>
        <locationX>1246</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>PlanIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Plan_List.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Get_Plan_List.Visit_Target__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Get_Plan_List.Visit_Actual__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Plan_Temp_01</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Visited</name>
        <label>is Visited</label>
        <locationX>1530</locationX>
        <locationY>894</locationY>
        <defaultConnector>
            <targetReference>Loop_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>默认结果</defaultConnectorLabel>
        <rules>
            <name>Visited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>未到访</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Actual</targetReference>
            </connector>
            <label>Visited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task</name>
        <label>Task Belong Plan</label>
        <locationX>1685</locationX>
        <locationY>696</locationY>
        <defaultConnector>
            <targetReference>Loop_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>默认结果</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Task.Inspection_Plan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Plan.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Target</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>巡店计划赋值目标和实际（Visit_Target__c和Visit_Actual__c）</description>
    <environments>Default</environments>
    <interviewLabel>Inspection Shop Plan Set Target&amp; {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Shop Plan Set Target&amp;Actual</label>
    <loops>
        <name>Loop_Get_Plan_List</name>
        <label>Loop Get Plan List</label>
        <locationX>1006</locationX>
        <locationY>299</locationY>
        <collectionReference>Get_Plan_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Plan_Id_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Task_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Plan</name>
        <label>Loop Plan</label>
        <locationX>1005</locationX>
        <locationY>700</locationY>
        <collectionReference>PlanTemp01</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Task</name>
        <label>Loop Task</label>
        <locationX>1295</locationX>
        <locationY>699</locationY>
        <collectionReference>Get_Task_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Plan_Temp_02</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>获取所有的巡店计划集合</description>
        <name>Get_Plan_List</name>
        <label>Get Plan List</label>
        <locationX>776</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Plan_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hisense Australia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Shop_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>获取所有的巡店任务</description>
        <name>Get_Task_List</name>
        <label>Get Task List</label>
        <locationX>1005</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inspection_Plan__c</field>
            <operator>In</operator>
            <value>
                <elementReference>PlanIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inspection_Shop_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Plan</name>
        <label>Update Plan</label>
        <locationX>772</locationX>
        <locationY>702</locationY>
        <inputReference>PlanTemp02</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Plan_List</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-26</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_zzzz</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection_Shop_Plan__c</objectType>
    </variables>
    <variables>
        <name>PlanIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlanTemp01</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection_Shop_Plan__c</objectType>
    </variables>
    <variables>
        <name>PlanTemp02</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inspection_Shop_Plan__c</objectType>
    </variables>
    <variables>
        <description>临时保存的值</description>
        <name>TempValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
