force-app/main/default/flows/Inspection_Shop_Plan_Set_Field_By_Apex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Field</name>
        <label>Set Field</label>
        <locationX>994</locationX>
        <locationY>345</locationY>
        <actionName>InspectionShopPlanSetField</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idFullData</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>planSalesRegionList</name>
            <value>
                <elementReference>SalesRegionList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InspectionShopPlanSetField</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Sales_Region</name>
        <label>Set Sales Region</label>
        <locationX>776</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>SalesRegionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Hisense Australia</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field</targetReference>
        </connector>
    </assignments>
    <description>巡店计划统计巡店任务数量</description>
    <environments>Default</environments>
    <interviewLabel>Inspection Shop Plan Set Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Shop Plan Set Field By Apex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Set_Sales_Region</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-30</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SalesRegionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
