force-app/main/default/flows/Inspection_Task_Set_Last_Task_Interval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>956</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Get_Next_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Last_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Task</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Last_Task.Inspection_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Last_Task_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Task_Date</targetReference>
            </connector>
            <label>Have Last Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Next</name>
        <label>Decision Next</label>
        <locationX>1377</locationX>
        <locationY>553</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Next_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Task</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Next_Task.Last_Task_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Inspection_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_Task_Date</targetReference>
            </connector>
            <label>Have Next Task</label>
        </rules>
    </decisions>
    <description>巡店计划赋值上一次计划日期</description>
    <environments>Default</environments>
    <interviewLabel>Inspection Task Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Task Set Last Task Interval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Task</name>
        <label>Get Last Task</label>
        <locationX>776</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Inspection_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection_Shop_Task__c</object>
        <sortField>Inspection_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Task</name>
        <label>Get Next Task</label>
        <locationX>1174</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Record.Inspection_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shop__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection_Shop_Task__c</object>
        <sortField>Inspection_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Last_Task_Date</name>
        <label>Set Last Task Date</label>
        <locationX>968</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>Get_Next_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Last_Task_Date__c</field>
            <value>
                <elementReference>Get_Last_Task.Inspection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Next_Task_Date</name>
        <label>Set Next Task Date</label>
        <locationX>1635</locationX>
        <locationY>558</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Next_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Task_Date__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Inspection_Date__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Task_Date__c</field>
            <value>
                <elementReference>$Record.Inspection_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection_Shop_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <object>Inspection_Shop_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Next_Minute</name>
            <connector>
                <targetReference>Get_Last_Task</targetReference>
            </connector>
            <label>Next Minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
