force-app/main/default/flows/Inspection_Shop_Task_Set_Daily_Inspection_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Inspection_Task_Not_Null</name>
        <label>Inspection Task Not Null</label>
        <locationX>776</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Task</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inspection_Task</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>巡店任务关联巡店日报</description>
    <environments>Default</environments>
    <interviewLabel>Inspection Shop Task Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Shop Task Set Daily Inspection Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inspection_Task</name>
        <label>Get Inspection Task</label>
        <locationX>783</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inspection_Task_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inspection_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Plan_OwnerId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shop__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Daily_Inspection_Report__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inspection_Shop_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inspection_Task</name>
        <label>Update Inspection Task</label>
        <locationX>1105</locationX>
        <locationY>555</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Inspection_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Daily_Inspection_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inspection_Shop_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Inspection_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Store__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Daily_Inspection_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
