force-app/main/default/flows/Inventory_Sales_Region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>insert_or_country_changed</name>
        <label>insert or country changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>insert_or_changed</name>
            <conditionLogic>1 OR ( 2 AND 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_sales_region</targetReference>
            </connector>
            <label>insert or changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inventory Sales Region {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Sales Region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_sales_region</name>
        <label>update sales region</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>SalesRegion__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>insert_or_country_changed</targetReference>
        </connector>
        <object>Inventory__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
