force-app/main/default/flows/pnova__DataProfilingLib_ProfilingDefinition_ProfileResults_ScheduleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Profile_Request_Action</name>
        <label>Create Profile Request</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>pnova__InvocableCreateProfileRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_the_request_created_successfully</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isScheduled</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profilingId</name>
            <value>
                <elementReference>recGet_ProfilingDefinition.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>profilingUserId</name>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pnova__InvocableCreateProfileRequest</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Invalid_Definition</name>
        <label>Send Email Invalid Definition</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailInvalidDefinitionSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailInvalidDefinitionBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_No_Definition_Found</name>
        <label>Send Email No Definition Found</label>
        <locationX>446</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailDefinitionNotFoundSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailDefinitionNotFoundBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>... represents the Profiling Definition Key identifier of the Profiling Definition to schedule. Please note that any Profiling Definition must have an active status of true to profile.</description>
        <name>ProfilingDefinitionKey</name>
        <dataType>String</dataType>
    </constants>
    <constants>
        <description>... represents the username of the user that is profiling on this schedule.  The user specified must have sufficient rights to manually profile a given profiling definition.</description>
        <name>ProfilingUsername</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>... evaluate if a specified profiling definition was found.  We filter out in-active profiling definitions -- as Cuneiform does not support profiling of inactive profiling definitions.</description>
        <name>dec_Was_ProfilingDefinition_Found</name>
        <label>Was a Profiling Definition Found?</label>
        <locationX>248</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Send_Email_No_Definition_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Was Not Verified</defaultConnectorLabel>
        <rules>
            <name>Was_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_ProfilingDefinition.pnova__Prop_IsActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Profile_Request_Action</targetReference>
            </connector>
            <label>Was Verified</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if all required Constant properties have been defined successfully.</description>
        <name>dec_Were_Constants_Defined</name>
        <label>Were Constants Defined?</label>
        <locationX>479</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not Defined</defaultConnectorLabel>
        <rules>
            <name>dec_Were_Constants_Defined_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfilingDefinitionKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfilingUsername</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_ProfilingDefinition</targetReference>
            </connector>
            <label>Are Defined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_request_created_successfully</name>
        <label>Was the request created successfully?</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Invalid_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Request_Created_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Profile_Request_Action.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>... this flow enables Cuneiform Administrators to schedule profiling for a given Profiling Definition -- and automate the capturing of profiling details on a regularly recurring schedule that is declaratively configured.</description>
    <environments>Default</environments>
    <formulas>
        <description>.. we use this variable to dynamically resolve the application name and correctly identify emails sent to the customer .</description>
        <name>ApplicationName</name>
        <dataType>String</dataType>
        <expression>&apos;Cuneiform for &apos; + IF( CONTAINS({!recGet_ProfilingDefinition.RecordType.DeveloperName},&apos;CRM&apos;),&apos;CRM&apos;, IF( CONTAINS({!recGet_ProfilingDefinition.RecordType.DeveloperName},&apos;Data Cloud&apos;),&apos;Data Cloud&apos;, &apos;Salesforce&apos;))+&apos;:&apos;</expression>
    </formulas>
    <formulas>
        <description>... this formula will build the URL to the profiling definition record for use in the email body.</description>
        <name>ProfilingDefinitionLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510}))&amp;{!recGet_ProfilingDefinition.Id}</expression>
    </formulas>
    <interviewLabel>Cuneiform: Profiling Definition: Profiling Results: Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cuneiform: Profiling Definition: Profile Results: Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... verify if the specified user username exists.</description>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>248</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Was_ProfilingDefinition_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfilingUsername</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... attempt to retrieve the Profiling Definition specified by its Definition Key. Cuneiform only supports profiling for active profiling definitions; any inactive definitions are automatically filtered out of the validation result-set.</description>
        <name>recGet_ProfilingDefinition</name>
        <label>Verify the Profiling Definition</label>
        <locationX>248</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfilingDefinitionKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pnova__Profiling_Definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Were_Constants_Defined</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-24</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>... this template contains the body of the email message sent to the customer when the appointed profiling definition is not found.</description>
        <name>emailDefinitionNotFoundBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred while attempting to start the profiling process for Profiling Definition: {!ProfilingDefinitionKey}. We couldn&apos;t find the specified definition in your Salesforce org. Please verify that this Profiling Definition exists – and try again.</text>
    </textTemplates>
    <textTemplates>
        <description>... this template contains the subject of the email message sent to the customer when the appointed profiling definition was not found.</description>
        <name>emailDefinitionNotFoundSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!ApplicationName} Scheduled Flow Error: Profiling Failed for {!ProfilingDefinitionKey}</text>
    </textTemplates>
    <textTemplates>
        <description>... this template contains the body of the email message sent to the customer when the system was not able to generate a request for the appointed profiling definition.</description>
        <name>emailInvalidDefinitionBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An error occurred while attempting to complete the profiling process for {!recGet_ProfilingDefinition.pnova__Prop_Name__c} ({!recGet_ProfilingDefinition.Name}). Please review the &lt;a href=&quot;{!ProfilingDefinitionLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Profiling Definition&lt;/a&gt; for details.

Need help? Contact us at sfsupport@peernova.com or contact your Salesforce administrator.</text>
    </textTemplates>
    <textTemplates>
        <description>... this template contains the subject of the email message sent to the customer when the system was not able to generate a request for the appointed profiling definition.</description>
        <name>emailInvalidDefinitionSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cuneiform for Salesforce: Profiling Failed for {!recGet_ProfilingDefinition.pnova__Prop_Name__c} ({!recGet_ProfilingDefinition.Name})</text>
    </textTemplates>
</Flow>
