force-app/main/default/flows/pnova__DataProfilingLib_ExceptionLogs_PurgeRecords_ScheduleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>... represents the number of days to retain profiling exception log records. Profiling logs older than this number of days will be purged from the current Salesforce org (defaults to 30 days).</description>
        <name>DaysToKeep</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>... evaluates if any exception log entries were found to be deleted.</description>
        <name>dec_Any_LogsFound</name>
        <label>Any Logs Found?</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>No Logs Found</defaultConnectorLabel>
        <rules>
            <name>dec_Any_LogsFound_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recGet_Profiling_ExceptionLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recDel_ExceptionLogs</targetReference>
            </connector>
            <label>Logs Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>... evaluates if our DaysToKeep Constant is correctly defined.  This Constant must be a value greater than or equal to zero.</description>
        <name>dec_Were_Constants_CorrectlyConfigured</name>
        <label>Were Constants Correctly Configured?</label>
        <locationX>578</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Incorrectly Configured</defaultConnectorLabel>
        <rules>
            <name>dec_Were_Constants_CorrectlyConfigured_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysToKeep</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recGet_Profiling_ExceptionLogs</targetReference>
            </connector>
            <label>Correctly Configured</label>
        </rules>
    </decisions>
    <description>... this flow is used to purge profiling exception logs older than [x] days.   Users can specify the TTL describing how many days exception log entries should live via the daysToKeep Constant.  All profiling exception logs that are older than [x] days will be purged by this flow.</description>
    <environments>Default</environments>
    <formulas>
        <description>... represents the difference in days between the current date and the TTL threshold used to calculate which profiling exception log records are to be purged.  Please note this formula is dependent on the DaysToKeep Constant.</description>
        <name>LastDateToKeep</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-{!DaysToKeep}</expression>
    </formulas>
    <interviewLabel>Cuneiform: Exception Logs: Purge Records: Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cuneiform: Exception Logs: Purge Records: Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <inputAssignments>
            <field>pnova__Exception_Summary__c</field>
            <value>
                <stringValue>Flow API Name:  DataProfilingLib_ProfilingExceptionLogs_PurgeResults_ScheduleFlow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pnova__Exception_Type__c</field>
            <value>
                <stringValue>Scheduled Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pnova__Method__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pnova__Raw_Content__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>pnova__Profiling_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>... delete the identified exceptionLog entries.</description>
        <name>recDel_ExceptionLogs</name>
        <label>Delete Exception Logs</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>recGet_Profiling_ExceptionLogs</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>... attempt to retrieve the profiling exception log records that are candidates for removal.</description>
        <name>recGet_Profiling_ExceptionLogs</name>
        <label>Get Profiling Exception Logs</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_Any_LogsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>LastDateToKeep</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pnova__Profiling_Log__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Were_Constants_CorrectlyConfigured</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-03-30</startDate>
            <startTime>12:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
