force-app/main/default/flows/pnova__DataProfilingLib_ProfilingDefinition_PurgeResults_ScheduleFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>... Represents the number of days to retain profiling result records. Profiling results older than this number of days will be purged from the current Salesforce org (defaults to 90 days).</description>
        <name>DaysToKeep</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>90.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>... represents the Profiling Definition Key identifier of the Profiling Definition to schedule.</description>
        <name>ProfilingDefinitionKey</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>... evaluates if the necessary Constant are configured.  This constants must contain a non-null value.</description>
        <name>Are_Constants_Configured</name>
        <label>Are Constants Configured?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Are Not Configured</defaultConnectorLabel>
        <rules>
            <name>Are_Configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysToKeep</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProfilingDefinitionKey</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profiling_Definition_Id</targetReference>
            </connector>
            <label>Are Configured</label>
        </rules>
    </decisions>
    <description>... this flow can purge profiling results older than [x] days. Specify the TTL for profiling results DaysToKeep Constant in this flow. All profiling object and field results that have existed for more than [x] days will be purged.</description>
    <environments>Default</environments>
    <formulas>
        <description>... this formula calculates the date difference between the current date and the total number of days used to identify profiling definition records to delete (via the DaysToKeep Constant).  Please ensure that a valid value exists for the DaysToKeep Constant.</description>
        <name>LastDaysToKeep</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-{!DaysToKeep}</expression>
    </formulas>
    <interviewLabel>Cuneiform: Profiling Definition: Purge Results: Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Cuneiform: Profiling Definition: Purge Results: Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>... gets the profiling definition Id</description>
        <name>Get_Profiling_Definition_Id</name>
        <label>Get Profiling Definition Id</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Purge_Definition_Related_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProfilingDefinitionKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pnova__Profiling_Definition__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Constants_Configured</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-07-26</startDate>
            <startTime>09:20:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>... purge the profiling definition related summaries and they related field results.</description>
        <name>Purge_Definition_Related_Results</name>
        <label>Purge Definition Related Results</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <flowName>pnova__DataProfilingLib_ProfilingDefinition_PurgeResults_Subflow</flowName>
        <inputAssignments>
            <name>DaysToKeep</name>
            <value>
                <elementReference>DaysToKeep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Profiling_Definition_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
