force-app/main/default/flows/S_de643049_7f24_48ee_af79_ca5ca3b3907a.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_46bb7765_0051_4208_9a60_9f85f65e61c2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0f67821a_f974_4ca4_afd8_2eca74bc6ebb</name>
        <choiceText>Inspection Plan/Tasks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspection Plan/Tasks</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15eaac30_40b8_4506_b4c5_52a27b1d1d83</name>
        <choiceText>Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1e9f8639_3443_4664_8921_d43fe4f7b3f7</name>
        <choiceText>Both PC and mobile app</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both PC and mobile app</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_33eb36a3_572e_491e_97d6_66594a0bc7e6</name>
        <choiceText>Sampling inspection</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sampling inspection</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3729d066_aafe_426c_a5a8_5d9612be345d</name>
        <choiceText>Minimal efficiency gains</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minimal efficiency gains</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_37fefc21_77e1_45ab_832b_c639a0bd4a8e</name>
        <choiceText>Understand most processes with minor gaps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Understand most processes with minor gaps</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_41283746_6291_4887_bfd8_00cc628de08b</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_50ed459a_06ed_4451_93a8_dc126d959fbe</name>
        <choiceText>Ticket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ticket</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53bd4405_2f91_43d3_8f74_0796d9ce0a48</name>
        <choiceText>Attendance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Attendance</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53c798d2_b1b7_4143_a38e_8f5d3fa5ada9</name>
        <choiceText>Moderately effective</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Moderately effective</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_56338fb5_632c_4760_8e0b_4d44ca9168a7</name>
        <choiceText>Frequently inaccurate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frequently inaccurate</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_589d5a31_0ca9_4fc7_b9cb_57f265931938</name>
        <choiceText>Daily Sales Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Daily Sales Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5bbc1405_25ad_4dde_8803_a9237e2c57cc</name>
        <choiceText>PC only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PC only</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6c83c793_e1df_47b7_a9fe_fe999d6d407e</name>
        <choiceText>Unclear about processes and operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unclear about processes and operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_77ebda21_3d3a_40b0_bf5e_9cd7763c39f1</name>
        <choiceText>Intelligence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intelligence</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c2a4ebb_80e8_41da_a398_9067fd9ebb6e</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_804ca8dc_a81d_4123_b22b_270dd36806d0</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9a26b593_9979_4e1c_aa6e_c6a5fe374186</name>
        <choiceText>Acceptable speed with minor delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acceptable speed with minor delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a3132e16_d7e6_4597_be33_9652610139a5</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_aaf43fdd_af1b_4af4_a065_7acf509b91d6</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af8d953c_8db8_4ad7_8fb7_8149e56bd362</name>
        <choiceText>Slow response with significant delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow response with significant delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b431b969_dbd0_46df_9254_f161685f71b0</name>
        <choiceText>Significantly improves efficiency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Significantly improves efficiency</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bda0d4f3_d502_40b6_822b_f6112825c4b7</name>
        <choiceText>Mobile app only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile app only</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c0fb6a5f_3511_4337_9439_87be231da47a</name>
        <choiceText>Fully understand processes and operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fully understand processes and operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c154ddd8_f84a_460b_a64d_ce86706d2557</name>
        <choiceText>Highly accurate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Highly accurate</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c95b7bef_553f_4ce3_8c04_66b8f24b40e5</name>
        <choiceText>Mostly accurate with occasional errors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mostly accurate with occasional errors</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cc72afcf_76f2_4416_a979_de0bbc4d8d01</name>
        <choiceText>Fast response, no delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast response, no delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e645bf92_0804_4848_a8bc_78311a7a687a</name>
        <choiceText>Others:&amp;nbsp;Please specify</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Others: Please specify</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e92d98b5_62f3_4143_bcac_1737d4abafa9</name>
        <choiceText>Inspection Report</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspection Report</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6cfde19_041c_45cd_a25f_ef6e2023483a</name>
        <choiceText>Goods Receiving</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Goods Receiving</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fe329c0f_3c7c_4cbe_bc78_db801bddf97a</name>
        <choiceText>Not applicable to my role</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not applicable to my role</stringValue>
        </value>
    </choices>
    <interviewLabel>内控调查问卷</interviewLabel>
    <label>内控调查问卷</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isAutosaveEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_46bb7765_0051_4208_9a60_9f85f65e61c2</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_17d766b6_4754_4b60_811d_0c8c53c7dbb3</name>
            <choiceReferences>c_1e9f8639_3443_4664_8921_d43fe4f7b3f7</choiceReferences>
            <choiceReferences>c_5bbc1405_25ad_4dde_8803_a9237e2c57cc</choiceReferences>
            <choiceReferences>c_bda0d4f3_d502_40b6_822b_f6112825c4b7</choiceReferences>
            <choiceReferences>c_a3132e16_d7e6_4597_be33_9652610139a5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;1. Which platform do you primarily use?&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_042bd46b_cb90_4233_8169_7a1fbe6ad915</name>
            <choiceReferences>c_c0fb6a5f_3511_4337_9439_87be231da47a</choiceReferences>
            <choiceReferences>c_37fefc21_77e1_45ab_832b_c639a0bd4a8e</choiceReferences>
            <choiceReferences>c_6c83c793_e1df_47b7_a9fe_fe999d6d407e</choiceReferences>
            <choiceReferences>c_fe329c0f_3c7c_4cbe_bc78_db801bddf97a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;2. How familiar are you with your business processes in Salesforce?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_38a269b3_235a_47b9_a9a6_d0c8c8a92793</name>
            <choiceReferences>c_0f67821a_f974_4ca4_afd8_2eca74bc6ebb</choiceReferences>
            <choiceReferences>c_e92d98b5_62f3_4143_bcac_1737d4abafa9</choiceReferences>
            <choiceReferences>c_589d5a31_0ca9_4fc7_b9cb_57f265931938</choiceReferences>
            <choiceReferences>c_f6cfde19_041c_45cd_a25f_ef6e2023483a</choiceReferences>
            <choiceReferences>c_77ebda21_3d3a_40b0_bf5e_9cd7763c39f1</choiceReferences>
            <choiceReferences>c_50ed459a_06ed_4451_93a8_dc126d959fbe</choiceReferences>
            <choiceReferences>c_53bd4405_2f91_43d3_8f74_0796d9ce0a48</choiceReferences>
            <choiceReferences>c_33eb36a3_572e_491e_97d6_66594a0bc7e6</choiceReferences>
            <choiceReferences>c_15eaac30_40b8_4506_b4c5_52a27b1d1d83</choiceReferences>
            <choiceReferences>c_e645bf92_0804_4848_a8bc_78311a7a687a</choiceReferences>
            <choiceReferences>c_aaf43fdd_af1b_4af4_a065_7acf509b91d6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;3. Which Salesforce features do you currently use? Select all that apply&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_96d1c737_e2d2_44db_9fcb_aa523349a943</name>
            <choiceReferences>c_cc72afcf_76f2_4416_a979_de0bbc4d8d01</choiceReferences>
            <choiceReferences>c_9a26b593_9979_4e1c_aa6e_c6a5fe374186</choiceReferences>
            <choiceReferences>c_af8d953c_8db8_4ad7_8fb7_8149e56bd362</choiceReferences>
            <choiceReferences>c_41283746_6291_4887_bfd8_00cc628de08b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;4. How would you evaluate Salesforce system performance（Internet Speed)?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2f660f95_0206_4313_952d_ca6c3ca2f694</name>
            <choiceReferences>c_c154ddd8_f84a_460b_a64d_ce86706d2557</choiceReferences>
            <choiceReferences>c_c95b7bef_553f_4ce3_8c04_66b8f24b40e5</choiceReferences>
            <choiceReferences>c_56338fb5_632c_4760_8e0b_4d44ca9168a7</choiceReferences>
            <choiceReferences>c_7c2a4ebb_80e8_41da_a398_9067fd9ebb6e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;5. How accurate is the GPS positioning for check-ins?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1d1ad38b_82e1_43f6_a891_604e486ca8dd</name>
            <choiceReferences>c_b431b969_dbd0_46df_9254_f161685f71b0</choiceReferences>
            <choiceReferences>c_53c798d2_b1b7_4143_a38e_8f5d3fa5ada9</choiceReferences>
            <choiceReferences>c_3729d066_aafe_426c_a5a8_5d9612be345d</choiceReferences>
            <choiceReferences>c_804ca8dc_a81d_4123_b22b_270dd36806d0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;6. How effectively does Salesforce support your daily work?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9588ceb6_ff6c_4c99_a8e0_f3848cc6c10c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;7. Are there redundant data fields in the system? If yes, please specify:&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9d29faab_111c_44c5_81b7_95e16b6a0f52</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;8. What challenges do you face when using Salesforce Mobile App?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cf5feb12_1565_424f_981f_2b54bc733331</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;9. What improvements would enhance your Salesforce experience? PC/Mobile App&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_b236f41b_6bf0_4031_a00f_51e1fc42063a_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b236f41b_6bf0_4031_a00f_51e1fc42063a</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;10. How would you rate your Salesforce experience 1−10?&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_46bb7765_0051_4208_9a60_9f85f65e61c2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Inter, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, &amp;quot;SF Pro SC&amp;quot;, &amp;quot;SF Pro Display&amp;quot;, &amp;quot;SF Pro Icons&amp;quot;, &amp;quot;PingFang SC&amp;quot;, &amp;quot;Hiragino Sans GB&amp;quot;, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif;&quot;&gt;Thank you for filling out this questionnaire.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: medium; font-family: Inter, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, &amp;quot;SF Pro SC&amp;quot;, &amp;quot;SF Pro Display&amp;quot;, &amp;quot;SF Pro Icons&amp;quot;, &amp;quot;PingFang SC&amp;quot;, &amp;quot;Hiragino Sans GB&amp;quot;, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif;&quot;&gt;Based on the problem feedback collected from the previous research, we organized a series of trainings for Salesforce system users and optimized and upgraded the system. Now, we need you to evaluate the information system you are currently using. Please take your valuable time to reply. Thank you! &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_b236f41b_6bf0_4031_a00f_51e1fc42063a_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
