force-app/main/default/flows/sa.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_e5b75255_cad5_42ec_a71e_db3695126765</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_026c821f_254e_4b70_8b15_7ce73f095680</name>
        <choiceText>The process is clear, and some operations meet business requirements.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is clear, and some operations meet business requirements.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1dcb9e1d_b712_4759_bb3b_e527f27dee3b</name>
        <choiceText>Timely, occasionally due to some objective reasons to cause delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Timely, occasionally due to some objective reasons to cause delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_20c0a06a_e3c2_43e8_86de_fd22a4043297</name>
        <choiceText>You can see, the problem is not handled.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>You can see, the problem is not handled.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2477d248_a052_49ca_bbaa_1040d2502e97</name>
        <choiceText>The system page saving and query response are poor, requiring a long waiting time.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The system page saving and query response are poor, requiring a long waiting time.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_259c788f_10dd_4712_b340_61d4a5f1888d</name>
        <choiceText>The process is not clear and the operations do not meet service requirements.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is not clear and the operations do not meet service requirements.  </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3588fe9d_c4f6_4c19_946b_615ff932fd7c</name>
        <choiceText>It takes a certain time for the system page to be saved and the query response to be normal.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It takes a certain time for the system page to be saved and the query response to be normal.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_457068b9_9779_4e31_a86a_c139cd0ef616</name>
        <choiceText>It can be found. It&apos;s handled in a timely manner.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It can be found. It&apos;s handled in a timely manner.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_58e391b0_6cc2_48ad_93b0_1de85fb8e972</name>
        <choiceText>System page saving and query response quickly, no need to wait.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System page saving and query response quickly, no need to wait.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8edf2bb7_c5fe_44a7_87dc_a61fdb12ff07</name>
        <choiceText>Can be found and handled in general timeliness.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Can be found and handled in general timeliness.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ba6f2909_4375_4fdf_8638_0ed9612a72c4</name>
        <choiceText>Very timely</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very timely</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbcb9881_b0b8_4697_bafd_34f6c3886a25</name>
        <choiceText>The process is clear and the overall operation meets business requirements.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is clear and the overall operation meets business requirements.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bcb21bf1_9d42_4e4b_b747_dc7716d580ef</name>
        <choiceText>The system is not interactive and the performance is not stable.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The system is not interactive and the performance is not stable.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c7a00e41_6308_444e_b9c5_ce14fc777615</name>
        <choiceText>Generally, there are frequent delays</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Generally, there are frequent delays</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c96a6996_8747_4127_9177_511b383c205c</name>
        <choiceText>The interactivity of the system is very poor and the performance is very unstable.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The interactivity of the system is very poor and the performance is very unstable.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f2b03014_b50e_4983_a021_879414e5d6b2</name>
        <choiceText>System interaction is very friendly, performance is very stable.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System interaction is very friendly, performance is very stable.</stringValue>
        </value>
    </choices>
    <interviewLabel>三期问卷-SA</interviewLabel>
    <label>三期问卷-SA</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_e5b75255_cad5_42ec_a71e_db3695126765</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b88f2184_2137_49fe_bea8_b1e96ad1ee4c</name>
            <choiceReferences>c_bbcb9881_b0b8_4697_bafd_34f6c3886a25</choiceReferences>
            <choiceReferences>c_026c821f_254e_4b70_8b15_7ce73f095680</choiceReferences>
            <choiceReferences>c_259c788f_10dd_4712_b340_61d4a5f1888d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;1.Do you understand all the operations and processes of your business in Salesforce?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0addb5d0_2ef7_4961_8314_3343eac95523</name>
            <choiceReferences>c_58e391b0_6cc2_48ad_93b0_1de85fb8e972</choiceReferences>
            <choiceReferences>c_3588fe9d_c4f6_4c19_946b_615ff932fd7c</choiceReferences>
            <choiceReferences>c_2477d248_a052_49ca_bbaa_1040d2502e97</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 12pt;&quot;&gt;2.How responsive is the Salesforce system when you are using it?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ed51a70b_8f18_4553_9241_4a46eab966f1</name>
            <choiceReferences>c_f2b03014_b50e_4983_a021_879414e5d6b2</choiceReferences>
            <choiceReferences>c_bcb21bf1_9d42_4e4b_b747_dc7716d580ef</choiceReferences>
            <choiceReferences>c_c96a6996_8747_4127_9177_511b383c205c</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;3.What do you think about the interactivity (clear prompts, simple operation) and stability of the Salesforce system you are currently using?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_bae38728_cdec_4297_a08c_3a86e06af159</name>
            <choiceReferences>c_ba6f2909_4375_4fdf_8638_0ed9612a72c4</choiceReferences>
            <choiceReferences>c_1dcb9e1d_b712_4759_bb3b_e527f27dee3b</choiceReferences>
            <choiceReferences>c_c7a00e41_6308_444e_b9c5_ce14fc777615</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;4.&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;Can you complete the check in/out, daily sales report of inspection report through the system in time?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_397232d2_0ab9_4779_9c5a_4558768c83df</name>
            <choiceReferences>c_457068b9_9779_4e31_a86a_c139cd0ef616</choiceReferences>
            <choiceReferences>c_8edf2bb7_c5fe_44a7_87dc_a61fdb12ff07</choiceReferences>
            <choiceReferences>c_20c0a06a_e3c2_43e8_86de_fd22a4043297</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;5.&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;When a problem occurs, are you able to find the person who can solve the problem? And deal with the problem in time?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_7d396f84_4c8e_45a1_9d3e_d1d5c826f155_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>npsColorCodeEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <name>q_7d396f84_4c8e_45a1_9d3e_d1d5c826f155</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;6.&lt;/strong&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;If you were asked to give a full evaluation of the Salesforce system, how many points would you rate it (low 1 - high 10)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9b2b62e_17e5_47a9_b934_4a642ef89715</name>
            <dataType>String</dataType>
            <extensionName>survey:runtimeShortText</extensionName>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; font-size: 7pt;&quot;&gt;7.&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif;&quot;&gt;What other aspects of the current system do you think need to be optimized to better meet work requirements?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_e5b75255_cad5_42ec_a71e_db3695126765</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thank you for completing this questionnaire&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Based on the feedback collected in the previous survey, we organized a series of trainings for users of the Salesforce system and optimized the system. Now we need you to evaluate the information system currently in use. Please take the time to reply, thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_7d396f84_4c8e_45a1_9d3e_d1d5c826f155_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
