force-app/main/default/flows/salesforce_sell_in.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0181387a_e9fb_4ad9_bed5_20d85c2788d7</name>
        <choiceText>System page saving and query response quickly, no need to wait.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System page saving and query response quickly, no need to wait.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_07936b04_abfb_4634_855a_867562b5a9c4</name>
        <choiceText>Can be found and handled in general timeliness</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Can be found and handled in general timeliness</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_23925dc0_ed52_4130_b6c9_2af1baebe1eb</name>
        <choiceText>The process is clear and the overall operation meets business requirements.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is clear and the overall operation meets business requirements.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2c721f5e_fbe5_4e8a_9341_8d8dd5aa7d87</name>
        <choiceText>You can see, the problem is not handled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>You can see, the problem is not handled</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2d0f497b_88cd_4f7a_934f_27aed8e3e229</name>
        <choiceText>In general, often.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In general, often.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_30dc2537_743e_443d_a1ba_95cf2e684ead</name>
        <choiceText>The process is not clear and the operations do not meet service requirements</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is not clear and the operations do not meet service requirements</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_63ee8abf_bfc7_4a71_9055_50284d501e4b</name>
        <choiceText>The interactivity of the system is very poor and the performance is very unstable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The interactivity of the system is very poor and the performance is very unstable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6ba4df75_d7ca_4ff3_a874_4c63f0f5d873</name>
        <choiceText>System interaction is very friendly, performance is very stable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System interaction is very friendly, performance is very stable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71fd5c6d_20fc_43b3_b5e9_d0ad926aea8f</name>
        <choiceText>The process is clear, and some operations meet business requirements.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The process is clear, and some operations meet business requirements.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a762825_4edd_4cef_9712_a587bfb0f50f</name>
        <choiceText>It takes a certain time for the system page to be saved and the query response to be normal.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It takes a certain time for the system page to be saved and the query response to be normal.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_903a76f3_9911_4719_a97a_1e560260a5c3</name>
        <choiceText>The system is not interactive and the performance is not stable</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The system is not interactive and the performance is not stable</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d489447e_e93b_4562_b0a8_7ce21f1fe073</name>
        <choiceText>Very timely, occasionally due to some objective reasons for delay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very timely, occasionally due to some objective reasons for delay</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d4b389de_1313_4ca6_bd61_2e74ae72ba16</name>
        <choiceText>Very timely.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very timely.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e20c2bd9_b02c_4c12_94e4_1aace61325f2</name>
        <choiceText>It can be found. It&apos;s handled in a timely manner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It can be found. It&apos;s handled in a timely manner</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1a09d04_353d_4c27_9471_be283e88d393</name>
        <choiceText>The system page saving and query response are poor, requiring a long waiting time.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The system page saving and query response are poor, requiring a long waiting time.</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce系统用户满意度调研问卷-日本Sell in</interviewLabel>
    <label>Salesforce系统用户满意度调研问卷-日本Sell in</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_04596f8c_20b0_4648_88ee_11190c8dcc5c</name>
            <choiceReferences>c_23925dc0_ed52_4130_b6c9_2af1baebe1eb</choiceReferences>
            <choiceReferences>c_71fd5c6d_20fc_43b3_b5e9_d0ad926aea8f</choiceReferences>
            <choiceReferences>c_30dc2537_743e_443d_a1ba_95cf2e684ead</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您是否了解&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;系统中自己对应业务的所有操作和流程？&lt;/span&gt;&lt;/p&gt;&lt;p&gt;​&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a70879f3_bb1d_4aac_8083_6e40ac96d4d4</name>
            <choiceReferences>c_0181387a_e9fb_4ad9_bed5_20d85c2788d7</choiceReferences>
            <choiceReferences>c_8a762825_4edd_4cef_9712_a587bfb0f50f</choiceReferences>
            <choiceReferences>c_f1a09d04_353d_4c27_9471_be283e88d393</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;您在使用&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;系统过程中，系统响应速度如何？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6f726477_d712_4cc0_9444_43db4902d3ab</name>
            <choiceReferences>c_6ba4df75_d7ca_4ff3_a874_4c63f0f5d873</choiceReferences>
            <choiceReferences>c_903a76f3_9911_4719_a97a_1e560260a5c3</choiceReferences>
            <choiceReferences>c_63ee8abf_bfc7_4a71_9055_50284d501e4b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;您认为现行使用的&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;系统的交互性（提示清晰、操作简洁）、稳定性如何？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f2dea084_8ecf_4d45_9ea4_a672c7d04dfc</name>
            <choiceReferences>c_d4b389de_1313_4ca6_bd61_2e74ae72ba16</choiceReferences>
            <choiceReferences>c_d489447e_e93b_4562_b0a8_7ce21f1fe073</choiceReferences>
            <choiceReferences>c_2d0f497b_88cd_4f7a_934f_27aed8e3e229</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;您是否了解客户拜访（商谈报告）管理要求，并及时的填写客户拜访记录（商谈报告）？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c8d568a6_21eb_45f9_acbe_c389bae68a55</name>
            <choiceReferences>c_e20c2bd9_b02c_4c12_94e4_1aace61325f2</choiceReferences>
            <choiceReferences>c_07936b04_abfb_4634_855a_867562b5a9c4</choiceReferences>
            <choiceReferences>c_2c721f5e_fbe5_4e8a_9341_8d8dd5aa7d87</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;当问题发生时，您是否能找到解决问题的人？并及时的处理问题？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3facc8a9_30df_4e27_9cf6_1b949555b3b8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;若请您对&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;系统进行全面评价，您认为评多少分（低&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;1&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;分&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;高&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;10&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;分）&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>1	
2	
3	
4   
5（完全不可用）
6	
7
8
9（满意）
10（十分满意）</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1edc77b0_d09e_43d7_9e9c_c29f2a192f9e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;您认为当前系统还需要在哪些方面进行优化以更好的满足工作需求？&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;再次感谢您的参与！&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Salesforce系统用户体验及满意度调研问卷&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;尊敬的用户您好，感谢您使用salesforce系统，为了更好为您提供服务，提升用户体验，恳请您用几分钟时间填写此问卷。本问卷实行匿名制，所有数据只用于统计分析，请您放心填写，谢谢您的参与。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
