force-app/main/default/flows/salesforce_12_18v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_b44c0908_6bd1_4377_92bb_4a2db74a454a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_034b93d0_6bbd_4e62_bf79_ebd7700f3fc0</name>
        <choiceText>&amp;#20197;&amp;#19978;&amp;#20840;&amp;#37096;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>以上全部</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_056bd8ba_3eb8_43e6_b725_0aa4b607198c</name>
        <choiceText>&amp;#38382;&amp;#39064;&amp;#20998;&amp;#26512;&amp;#31934;&amp;#20934;&amp;#24230;&amp;#25552;&amp;#21319;&amp;#65292;&amp;#21161;&amp;#21147;&amp;#31934;&amp;#20934;&amp;#23450;&amp;#20301;&amp;#24215;&amp;#38138;&amp;#38382;&amp;#39064;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>问题分析精准度提升，助力精准定位店铺问题。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2902032d_e5a0_4644_a766_72613ce965e4</name>
        <choiceText>&amp;#25552;&amp;#21319;&amp;#38144;&amp;#21806;&amp;#25968;&amp;#25454;&amp;#20934;&amp;#30830;&amp;#24615;&amp;#65292;&amp;#31934;&amp;#30830;&amp;#35760;&amp;#24405;&amp;#24182;&amp;#25972;&amp;#21512;&amp;#20851;&amp;#32852;&amp;#22810;&amp;#28192;&amp;#36947;&amp;#38144;&amp;#21806;&amp;#25968;&amp;#25454;&amp;#65292;&amp;#30830;&amp;#20445;&amp;#38144;&amp;#21806;&amp;#25968;&amp;#25454;&amp;#21487;&amp;#38752;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>提升销售数据准确性，精确记录并整合关联多渠道销售数据，确保销售数据可靠。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2e5f721b_426b_41a0_82c9_d21521eb4a43</name>
        <choiceText>&amp;#31934;&amp;#20934;&amp;#35760;&amp;#24405;&amp;#32771;&amp;#21220;&amp;#26102;&amp;#38388;&amp;#65292;&amp;#25968;&amp;#25454;&amp;#23436;&amp;#25972;&amp;#19988;&amp;#21487;&amp;#38543;&amp;#26102;&amp;#26597;&amp;#38405;&amp;#65292;&amp;#20026;&amp;#32489;&amp;#25928;&amp;#19982;&amp;#24037;&amp;#36164;&amp;#26680;&amp;#31639;&amp;#25552;&amp;#20379;&amp;#20381;&amp;#25454;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>精准记录考勤时间，数据完整且可随时查阅，为绩效与工资核算提供依据。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bd80ddc_ca34_4d11_90c4_9058ac94a9f3</name>
        <choiceText>&amp;#25171;&amp;#21345;&amp;#25968;&amp;#25454;&amp;#23454;&amp;#26102;&amp;#21516;&amp;#27493;&amp;#65292;&amp;#26080;&amp;#38656;&amp;#20154;&amp;#24037;&amp;#25552;&amp;#20132;&amp;#19982;&amp;#31614;&amp;#23383;&amp;#65292;&amp;#33258;&amp;#21160;&amp;#32479;&amp;#35745;&amp;#24182;&amp;#29983;&amp;#25104;&amp;#25253;&amp;#34920;&amp;#65292;&amp;#31616;&amp;#21270;&amp;#32771;&amp;#21220;&amp;#27969;&amp;#31243;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>打卡数据实时同步，无需人工提交与签字，自动统计并生成报表，简化考勤流程。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_520c06f3_eebc_436e_9d9f_c2a3bf9d1508</name>
        <choiceText>&amp;#24033;&amp;#24215;&amp;#27969;&amp;#31243;&amp;#35268;&amp;#33539;&amp;#24615;&amp;#25552;&amp;#21319;&amp;#65292;&amp;#30830;&amp;#20445;&amp;#25191;&amp;#34892;&amp;#26631;&amp;#20934;&amp;#32479;&amp;#19968;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>巡店流程规范性提升，确保执行标准统一。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c7ce08c_cb99_45ae_b96d_e2b34deb9e4b</name>
        <choiceText>&amp;#20197;&amp;#19978;&amp;#20840;&amp;#37096;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>以上全部</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_71ee06d0_1a4e_445d_bc5a_4aa8e4613670</name>
        <choiceText>&amp;#23454;&amp;#29616;&amp;#32771;&amp;#21220;&amp;#23454;&amp;#26102;&amp;#30417;&amp;#25511;&amp;#65292;&amp;#23545;&amp;#24322;&amp;#24120;&amp;#24773;&amp;#20917;&amp;#25552;&amp;#20379;&amp;#25552;&amp;#37266;&amp;#26426;&amp;#21046;&amp;#65292;&amp;#25552;&amp;#21319;&amp;#31649;&amp;#29702;&amp;#25928;&amp;#29575;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>实现考勤实时监控，对异常情况提供提醒机制，提升管理效率。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_750ee5eb_ea75_486e_8b31_7b34d8edd4c9</name>
        <choiceText>&amp;#20449;&amp;#24687;&amp;#25972;&amp;#21512;&amp;#20248;&amp;#21270;&amp;#65306;&amp;#23454;&amp;#29616;&amp;#38376;&amp;#24215;&amp;#19982;&amp;#20154;&amp;#21592;&amp;#20449;&amp;#24687;&amp;#38598;&amp;#20013;&amp;#23384;&amp;#20648;&amp;#31649;&amp;#29702;&amp;#65292;&amp;#20415;&amp;#20110;&amp;#26597;&amp;#35810;&amp;#26816;&amp;#32034;&amp;#65292;&amp;#36991;&amp;#20813;&amp;#20449;&amp;#24687;&amp;#20998;&amp;#25955;&amp;#38590;&amp;#23547;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>信息整合优化：实现门店与人员信息集中存储管理，便于查询检索，避免信息分散难寻。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8f18571b_71e2_4fa3_84ea_f8e4e61ad5b8</name>
        <choiceText>&amp;#25968;&amp;#25454;&amp;#20256;&amp;#36755;&amp;#26102;&amp;#25928;&amp;#24615;&amp;#25552;&amp;#21319;&amp;#65292;&amp;#23454;&amp;#26102;&amp;#20849;&amp;#20139;&amp;#24033;&amp;#24215;&amp;#25968;&amp;#25454;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>数据传输时效性提升，实时共享巡店数据。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91f713fd_f42b_4ea1_b03a_ae8465010abd</name>
        <choiceText>&amp;#20849;&amp;#20139;&amp;#21327;&amp;#20316;&amp;#39640;&amp;#25928;&amp;#65306;&amp;#26041;&amp;#20415;&amp;#22810;&amp;#37096;&amp;#38376;&amp;#12289;&amp;#22810;&amp;#23703;&amp;#20301;&amp;#23454;&amp;#26102;&amp;#20849;&amp;#20139;&amp;#20449;&amp;#24687;&amp;#65292;&amp;#20419;&amp;#36827;&amp;#36328;&amp;#37096;&amp;#38376;&amp;#21327;&amp;#20316;&amp;#27807;&amp;#36890;&amp;#65292;&amp;#22914;&amp;#24066;&amp;#22330;&amp;#19982;&amp;#36816;&amp;#33829;&amp;#21327;&amp;#21516;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>共享协作高效：方便多部门、多岗位实时共享信息，促进跨部门协作沟通，如市场与运营协同。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a46cf52c_68b5_44c4_948d_8f2a8c717580</name>
        <choiceText>&amp;#25968;&amp;#25454;&amp;#20934;&amp;#30830;&amp;#24615;&amp;#25552;&amp;#21319;&amp;#65306;&amp;#32447;&amp;#19978;&amp;#21270;&amp;#20943;&amp;#23569;&amp;#20154;&amp;#24037;&amp;#35760;&amp;#24405;&amp;#19982;&amp;#20256;&amp;#36882;&amp;#38169;&amp;#35823;&amp;#65292;&amp;#30830;&amp;#20445;&amp;#20449;&amp;#24687;&amp;#31934;&amp;#20934;&amp;#21487;&amp;#38752;&amp;#65292;&amp;#21033;&amp;#20110;&amp;#20915;&amp;#31574;&amp;#20381;&amp;#25454;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> 数据准确性提升：线上化减少人工记录与传递错误，确保信息精准可靠，利于决策依据。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae3b9645_b2ff_437a_82ce_f1f0287e9e51</name>
        <choiceText>&amp;#20197;&amp;#19978;&amp;#20840;&amp;#37096;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>以上全部</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c48d7f6e_73ea_4c4c_9edb_1d898a0171c4</name>
        <choiceText>&amp;#20915;&amp;#31574;&amp;#25903;&amp;#25345;&amp;#26377;&amp;#21147;&amp;#65306;&amp;#25552;&amp;#20379;&amp;#20840;&amp;#38754;&amp;#20934;&amp;#30830;&amp;#20449;&amp;#24687;&amp;#22522;&amp;#30784;&amp;#65292;&amp;#21161;&amp;#21147;&amp;#31649;&amp;#29702;&amp;#23618;&amp;#28145;&amp;#20837;&amp;#20998;&amp;#26512;&amp;#65292;&amp;#22914;&amp;#35780;&amp;#20272;&amp;#38376;&amp;#24215;&amp;#32489;&amp;#25928;&amp;#12289;&amp;#20154;&amp;#21592;&amp;#37197;&amp;#32622;&amp;#21512;&amp;#29702;&amp;#24615;&amp;#65292;&amp;#20570;&amp;#20986;&amp;#31185;&amp;#23398;&amp;#20915;&amp;#31574;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>决策支持有力：提供全面准确信息基础，助力管理层深入分析，如评估门店绩效、人员配置合理性，做出科学决策。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e65dff51_1507_47d2_9ba9_ea99cc9c26a6</name>
        <choiceText>&amp;#21161;&amp;#21147;&amp;#38144;&amp;#21806;&amp;#20915;&amp;#31574;&amp;#65292;&amp;#25552;&amp;#20379;&amp;#25968;&amp;#25454;&amp;#20998;&amp;#26512;&amp;#24037;&amp;#20855;&amp;#65292;&amp;#36890;&amp;#36807;&amp;#25968;&amp;#25454;&amp;#20998;&amp;#26512;&amp;#25903;&amp;#25345;&amp;#38144;&amp;#21806;&amp;#39044;&amp;#27979;&amp;#19982;&amp;#35268;&amp;#21010;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>助力销售决策，提供数据分析工具，通过数据分析支持销售预测与规划。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e75a0b3e_01a0_4ce1_ba5e_a48684491c25</name>
        <choiceText>&amp;#21152;&amp;#24378;&amp;#22242;&amp;#38431;&amp;#21327;&amp;#20316;&amp;#65292;&amp;#20419;&amp;#36827;&amp;#20449;&amp;#24687;&amp;#20849;&amp;#20139;&amp;#65292;&amp;#26041;&amp;#20415;&amp;#22242;&amp;#38431;&amp;#25104;&amp;#21592;&amp;#21327;&amp;#21516;&amp;#24037;&amp;#20316;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>加强团队协作，促进信息共享，方便团队成员协同工作。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f44e9b46_7dc2_47e4_a107_213feb8cfb83</name>
        <choiceText>&amp;#20248;&amp;#21270;&amp;#38144;&amp;#21806;&amp;#27969;&amp;#31243;&amp;#65292;&amp;#23454;&amp;#29616;&amp;#33258;&amp;#21160;&amp;#21270;&amp;#25805;&amp;#20316;&amp;#65292;&amp;#21487;&amp;#23454;&amp;#26102;&amp;#30417;&amp;#25511;&amp;#38144;&amp;#21806;&amp;#24773;&amp;#20917;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>优化销售流程，实现自动化操作，可实时监控销售情况。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f62a8a4f_c6e3_45df_83fd_45f698628455</name>
        <choiceText>&amp;#20197;&amp;#19978;&amp;#20840;&amp;#37096;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>以上全部</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fc3b0b9b_600d_4811_8fbd_2caa8e891455</name>
        <choiceText>&amp;#20449;&amp;#24687;&amp;#37319;&amp;#38598;&amp;#20415;&amp;#25463;&amp;#24615;&amp;#25552;&amp;#21319;&amp;#65292;&amp;#39640;&amp;#25928;&amp;#35760;&amp;#24405;&amp;#24215;&amp;#38138;&amp;#21508;&amp;#31867;&amp;#29366;&amp;#20917;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>信息采集便捷性提升，高效记录店铺各类状况。</stringValue>
        </value>
    </choices>
    <interviewLabel>东盟Salesforce使用情况调研12.18v2</interviewLabel>
    <label>东盟Salesforce使用情况调研12.18v2</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_b44c0908_6bd1_4377_92bb_4a2db74a454a</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1e7aa59e_0ee1_4610_80e1_29d0531f9db0</name>
            <choiceReferences>c_2902032d_e5a0_4644_a766_72613ce965e4</choiceReferences>
            <choiceReferences>c_f44e9b46_7dc2_47e4_a107_213feb8cfb83</choiceReferences>
            <choiceReferences>c_e65dff51_1507_47d2_9ba9_ea99cc9c26a6</choiceReferences>
            <choiceReferences>c_e75a0b3e_01a0_4ce1_ba5e_a48684491c25</choiceReferences>
            <choiceReferences>c_034b93d0_6bbd_4e62_bf79_ebd7700f3fc0</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce 的销售提报功能给您带来什么方面的提升？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_391f2a59_c214_4e70_8f5b_0322673ce5f8</name>
            <choiceReferences>c_fc3b0b9b_600d_4811_8fbd_2caa8e891455</choiceReferences>
            <choiceReferences>c_8f18571b_71e2_4fa3_84ea_f8e4e61ad5b8</choiceReferences>
            <choiceReferences>c_520c06f3_eebc_436e_9d9f_c2a3bf9d1508</choiceReferences>
            <choiceReferences>c_056bd8ba_3eb8_43e6_b725_0aa4b607198c</choiceReferences>
            <choiceReferences>c_f62a8a4f_c6e3_45df_83fd_45f698628455</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce 的巡店功能给您带来什么方面的提升？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_eb0a78e6_e0bc_4ff5_afdc_cd863202eccf</name>
            <choiceReferences>c_2e5f721b_426b_41a0_82c9_d21521eb4a43</choiceReferences>
            <choiceReferences>c_4bd80ddc_ca34_4d11_90c4_9058ac94a9f3</choiceReferences>
            <choiceReferences>c_71ee06d0_1a4e_445d_bc5a_4aa8e4613670</choiceReferences>
            <choiceReferences>c_ae3b9645_b2ff_437a_82ce_f1f0287e9e51</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce 的考勤打卡功能给您带来什么方面的提升？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a838b918_2ceb_4a9e_adec_bc670f0cd3a3</name>
            <choiceReferences>c_750ee5eb_ea75_486e_8b31_7b34d8edd4c9</choiceReferences>
            <choiceReferences>c_a46cf52c_68b5_44c4_948d_8f2a8c717580</choiceReferences>
            <choiceReferences>c_91f713fd_f42b_4ea1_b03a_ae8465010abd</choiceReferences>
            <choiceReferences>c_c48d7f6e_73ea_4c4c_9edb_1d898a0171c4</choiceReferences>
            <choiceReferences>c_5c7ce08c_cb99_45ae_b96d_e2b34deb9e4b</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;Salesforce 的门店信息和人员信息线上化给您带来什么方面的提升？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_4f627020_440f_4508_80e6_294f1df11dc7_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4f627020_440f_4508_80e6_294f1df11dc7</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;strong&gt;若请您为Salesforce系统进行全面评价，您认为评多少分（低1分-高10分）&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d9f1db23_3d78_4e7f_b0fe_76c49c47c35c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;您认为当前Salesforce还需要在哪些方面进行优化以更好的满足工作需求？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_4f627020_440f_4508_80e6_294f1df11dc7</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>9.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0f8f2fa2_11df_463c_9123_52571bfaf022</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;strong&gt;您希望Salesforce未来开发哪些功能模块，从而对您的工作带来提升？&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_b44c0908_6bd1_4377_92bb_4a2db74a454a</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;非常感谢您抽出宝贵时间参与本次调研。您的每一个回答对我们都非常重要，将为我们会须的系统优化和完善提供极具价值的参考依据。&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;您好，东盟地区引入Salesforce系统已近一年时间。现开展调研，聚焦其对您工作效率的提升效果，了解系统功能是否满足需求、节省时间、减少重复劳动及促进团队协作等。&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;您的反馈是评估系统有效性的关键，将指导我们优化改进工作。调研约耗时5分钟，感谢您的参与！&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_4f627020_440f_4508_80e6_294f1df11dc7_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
