force-app/main/default/flows/salesforce_all.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_e4dae450_4282_4c2a_a7d6_88a923f9ecc2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_029150c6_c123_428a_87da_6bf8cc8cef85</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#24456;&amp;#24555;&amp;#65292;&amp;#19981;&amp;#38656;&amp;#35201;&amp;#31561;&amp;#24453;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应很快，不需要等待</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2431ce31_8d38_4de4_835c_5745413bed02</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#19968;&amp;#33324;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#19981;&amp;#22826;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性一般，性能不太稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2815f499_9ab2_44ef_93db_29c5d089063e</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#24456;&amp;#24046;&amp;#65292;&amp;#38656;&amp;#35201;&amp;#24456;&amp;#38271;&amp;#30340;&amp;#31561;&amp;#24453;&amp;#26102;&amp;#38388;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应很差，需要很长的等待时间</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_48f60366_15ef_4a90_900f_58312fe6d318</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#19968;&amp;#33324;&amp;#65292;&amp;#38656;&amp;#35201;&amp;#19968;&amp;#23450;&amp;#30340;&amp;#31561;&amp;#24453;&amp;#26102;&amp;#38388;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应一般，需要一定的等待时间</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_53fe131b_4fbc_4a94_86a0_a2c34e30ec3c</name>
        <choiceText>&amp;#38750;&amp;#24120;&amp;#21450;&amp;#26102;&amp;#65292;&amp;#31995;&amp;#32479;&amp;#24102;&amp;#26469;&amp;#24456;&amp;#22823;&amp;#30340;&amp;#25928;&amp;#29575;&amp;#25552;&amp;#21319;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常及时，系统带来很大的效率提升</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62fe8454_c2f3_4e6b_a2e4_26649429b7d6</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#22788;&amp;#29702;&amp;#38750;&amp;#24120;&amp;#21450;&amp;#26102;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，处理非常及时</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_72b80081_4b52_4896_ae96_39dc261440f8</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#25972;&amp;#20307;&amp;#25805;&amp;#20316;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程清晰，整体操作符合业务需求</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c157a32e_c112_48f5_afdd_6e4c5dc874f5</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#38382;&amp;#39064;&amp;#26410;&amp;#22788;&amp;#29702;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，问题未处理</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c7ba476b_ba07_4465_a8b5_a75f0f661922</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#27604;&amp;#36739;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#37096;&amp;#20998;&amp;#25805;&amp;#20316;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程比较清晰，部分操作符合业务需求</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d54ce709_4e81_4809_a880_37523bf158f4</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#19981;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#25805;&amp;#20316;&amp;#19981;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程不清晰，操作不符合业务需求</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d9d68204_3bab_48e6_89a1_2325eeaf9051</name>
        <choiceText>&amp;#24456;&amp;#21450;&amp;#26102;&amp;#65292;&amp;#20598;&amp;#23572;&amp;#22240;&amp;#20026;&amp;#26576;&amp;#20123;&amp;#23458;&amp;#35266;&amp;#21407;&amp;#22240;&amp;#36896;&amp;#25104;&amp;#24310;&amp;#35823;&amp;#65292;&amp;#31995;&amp;#32479;&amp;#25552;&amp;#25928;&amp;#19968;&amp;#33324;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>很及时，偶尔因为某些客观原因造成延误，系统提效一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_eeef6165_cbca_4f88_8935_07a1dee1b040</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#38750;&amp;#24120;&amp;#21451;&amp;#22909;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#38750;&amp;#24120;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性非常友好，性能非常稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_efb0a74d_7ab2_4ce2_b57b_d799f702d0a6</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#24456;&amp;#24046;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#24456;&amp;#19981;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性很差，性能很不稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_feae6f00_7055_4fbb_a14a_cfe2fc20f435</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#22788;&amp;#29702;&amp;#21450;&amp;#26102;&amp;#24615;&amp;#19968;&amp;#33324;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，处理及时性一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ff6613ee_3770_417e_b805_b923503ed0d8</name>
        <choiceText>&amp;#19968;&amp;#33324;&amp;#65292;&amp;#32463;&amp;#24120;&amp;#24310;&amp;#35823;&amp;#65292;&amp;#31995;&amp;#32479;&amp;#27809;&amp;#26377;&amp;#25552;&amp;#25928;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般，经常延误，系统没有提效</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce使用问卷-all-除领导</interviewLabel>
    <label>Salesforce使用问卷-all-除领导</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>surveyType</name>
        <value>
            <stringValue>Survey</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_e4dae450_4282_4c2a_a7d6_88a923f9ecc2</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_400aacea_3801_4bda_a591_5a86e63d75dd</name>
            <choiceReferences>c_72b80081_4b52_4896_ae96_39dc261440f8</choiceReferences>
            <choiceReferences>c_c7ba476b_ba07_4465_a8b5_a75f0f661922</choiceReferences>
            <choiceReferences>c_d54ce709_4e81_4809_a880_37523bf158f4</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您是否了解&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;系统中自己对应业务的所有操作和流程？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3741d053_9473_4b75_b573_5556c9d9162e</name>
            <choiceReferences>c_029150c6_c123_428a_87da_6bf8cc8cef85</choiceReferences>
            <choiceReferences>c_48f60366_15ef_4a90_900f_58312fe6d318</choiceReferences>
            <choiceReferences>c_2815f499_9ab2_44ef_93db_29c5d089063e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您在使用&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;系统过程中，系统响应速度如何&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a363dba8_03b5_45be_9d88_aa1c1792346c</name>
            <choiceReferences>c_eeef6165_cbca_4f88_8935_07a1dee1b040</choiceReferences>
            <choiceReferences>c_2431ce31_8d38_4de4_835c_5745413bed02</choiceReferences>
            <choiceReferences>c_efb0a74d_7ab2_4ce2_b57b_d799f702d0a6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您认为现行使用的&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;系统的交互性（提示清晰、操作简洁）、稳定性如何？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e5a0e528_df34_4e94_80f9_32d53c41288b</name>
            <choiceReferences>c_53fe131b_4fbc_4a94_86a0_a2c34e30ec3c</choiceReferences>
            <choiceReferences>c_d9d68204_3bab_48e6_89a1_2325eeaf9051</choiceReferences>
            <choiceReferences>c_ff6613ee_3770_417e_b805_b923503ed0d8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您是否可以通过系统及时完成日常工作，系统是否支撑工作效率提升？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_461039f1_be95_4721_b7a7_1fc6f93e7bbd</name>
            <choiceReferences>c_62fe8454_c2f3_4e6b_a2e4_26649429b7d6</choiceReferences>
            <choiceReferences>c_feae6f00_7055_4fbb_a14a_cfe2fc20f435</choiceReferences>
            <choiceReferences>c_c157a32e_c112_48f5_afdd_6e4c5dc874f5</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;当问题发生时，您是否能找到解决问题的人？并及时的处理问题？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_a15f736f_516a_4609_b74a_b56059950efb_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a15f736f_516a_4609_b74a_b56059950efb</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;若请您对&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;系统进行全面评价，您认为评多少分（低&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;1&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;分&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;高&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;10&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;分）&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d8aa433c_18b2_463c_943c_7e71264f1444</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;您认为当前系统还需要在哪些方面进行优化以更好的满足工作需求？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_e4dae450_4282_4c2a_a7d6_88a923f9ecc2</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;感谢您填写本问卷&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: 宋体;&quot;&gt;根据前期调研收集的问题反馈，我们针对&lt;/span&gt;Salesforce&lt;span style=&quot;font-family: 宋体;&quot;&gt;系统用户组织了一系列培训并对系统进行了优化升级。现需要您对目前正在使用的信息系统进行评价，请您抽出宝贵时间给予答复，谢谢！&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_a15f736f_516a_4609_b74a_b56059950efb_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
