force-app/main/default/flows/salesforce_sell_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0aeece5a_db00_45ef_8d9d_b994b7d49e68</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#22788;&amp;#29702;&amp;#21450;&amp;#26102;&amp;#24615;&amp;#19968;&amp;#33324;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，处理及时性一般</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_411036a6_217e_4c7d_bcb3_3f7f5c0f4ad7</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#22788;&amp;#29702;&amp;#38750;&amp;#24120;&amp;#21450;&amp;#26102;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，处理非常及时</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bbeec4c_a6f6_4661_93d9_fbd989f45ec7</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#19968;&amp;#33324;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#19981;&amp;#22826;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性一般，性能不太稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d899c61_a625_45a0_8e01_9b992f846796</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#19981;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#25805;&amp;#20316;&amp;#19981;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程不清晰，操作不符合业务需求。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_57342791_dfda_4d5f_9393_484b6dc5cf34</name>
        <choiceText>&amp;#38750;&amp;#24120;&amp;#21450;&amp;#26102;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常及时。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68e39aee_e75f_4362_8421_40a96ca1099e</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#27604;&amp;#36739;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#37096;&amp;#20998;&amp;#25805;&amp;#20316;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程比较清晰，部分操作符合业务需求。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_751c48f5_133e_49d8_bff3_40dbc3438c70</name>
        <choiceText>&amp;#19968;&amp;#33324;&amp;#65292;&amp;#32463;&amp;#24120;&amp;#24310;&amp;#35823;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>一般，经常延误。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_767670e1_f462_4675_ae10_0f49e9146fef</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#19968;&amp;#33324;&amp;#65292;&amp;#38656;&amp;#35201;&amp;#19968;&amp;#23450;&amp;#30340;&amp;#31561;&amp;#24453;&amp;#26102;&amp;#38388;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应一般，需要一定的等待时间。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7a275616_7f4e_432f_968d_1b3b21287191</name>
        <choiceText>&amp;#21487;&amp;#20197;&amp;#25214;&amp;#21040;&amp;#65292;&amp;#38382;&amp;#39064;&amp;#26410;&amp;#22788;&amp;#29702;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>可以找到，问题未处理</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_831d3d19_8788_4014_9e55_9b78f9601e6a</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#24456;&amp;#24555;&amp;#65292;&amp;#19981;&amp;#38656;&amp;#35201;&amp;#31561;&amp;#24453;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应很快，不需要等待。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86132c3e_b863_48f9_bff5_c4bf39d03f3c</name>
        <choiceText>&amp;#24456;&amp;#21450;&amp;#26102;&amp;#65292;&amp;#20598;&amp;#23572;&amp;#22240;&amp;#20026;&amp;#26576;&amp;#20123;&amp;#23458;&amp;#35266;&amp;#21407;&amp;#22240;&amp;#36896;&amp;#25104;&amp;#24310;&amp;#35823;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>很及时，偶尔因为某些客观原因造成延误。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_87cdbb9f_4160_4c69_affa_8f0fccfedd2e</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#24456;&amp;#24046;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#24456;&amp;#19981;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性很差，性能很不稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af4154c5_cc7b_4b43_8b07_093432739fb5</name>
        <choiceText>&amp;#27969;&amp;#31243;&amp;#28165;&amp;#26224;&amp;#65292;&amp;#25972;&amp;#20307;&amp;#25805;&amp;#20316;&amp;#31526;&amp;#21512;&amp;#19994;&amp;#21153;&amp;#38656;&amp;#27714;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>流程清晰，整体操作符合业务需求。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b954d337_6dab_449b_8b3f_03ef6c29afb8</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#20132;&amp;#20114;&amp;#24615;&amp;#38750;&amp;#24120;&amp;#21451;&amp;#22909;&amp;#65292;&amp;#24615;&amp;#33021;&amp;#38750;&amp;#24120;&amp;#31283;&amp;#23450;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统交互性非常友好，性能非常稳定</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_caa6fff4_4f82_43dc_b1af_8acd4227064d</name>
        <choiceText>&amp;#31995;&amp;#32479;&amp;#39029;&amp;#38754;&amp;#20445;&amp;#23384;&amp;#21644;&amp;#26597;&amp;#35810;&amp;#21709;&amp;#24212;&amp;#24456;&amp;#24046;&amp;#65292;&amp;#38656;&amp;#35201;&amp;#24456;&amp;#38271;&amp;#30340;&amp;#31561;&amp;#24453;&amp;#26102;&amp;#38388;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>系统页面保存和查询响应很差，需要很长的等待时间。</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce系统用户满意度调研问卷-日本Sell out</interviewLabel>
    <label>Salesforce系统用户满意度调研问卷-日本Sell out</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_Language</name>
        <value>
            <stringValue>zh_CN</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_04596f8c_20b0_4648_88ee_11190c8dcc5c</name>
            <choiceReferences>c_af4154c5_cc7b_4b43_8b07_093432739fb5</choiceReferences>
            <choiceReferences>c_68e39aee_e75f_4362_8421_40a96ca1099e</choiceReferences>
            <choiceReferences>c_4d899c61_a625_45a0_8e01_9b992f846796</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;您是否了解&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;系统中自己对应业务的所有操作和流程？&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a70879f3_bb1d_4aac_8083_6e40ac96d4d4</name>
            <choiceReferences>c_831d3d19_8788_4014_9e55_9b78f9601e6a</choiceReferences>
            <choiceReferences>c_767670e1_f462_4675_ae10_0f49e9146fef</choiceReferences>
            <choiceReferences>c_caa6fff4_4f82_43dc_b1af_8acd4227064d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;您在使用&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: &amp;quot;Times New Roman&amp;quot;, serif;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: 宋体;&quot;&gt;系统过程中，系统响应速度如何？&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6f726477_d712_4cc0_9444_43db4902d3ab</name>
            <choiceReferences>c_b954d337_6dab_449b_8b3f_03ef6c29afb8</choiceReferences>
            <choiceReferences>c_4bbeec4c_a6f6_4661_93d9_fbd989f45ec7</choiceReferences>
            <choiceReferences>c_87cdbb9f_4160_4c69_affa_8f0fccfedd2e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;您认为现行使用的&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;系统的交互性（提示清晰、操作简洁）、稳定性如何？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f2dea084_8ecf_4d45_9ea4_a672c7d04dfc</name>
            <choiceReferences>c_57342791_dfda_4d5f_9393_484b6dc5cf34</choiceReferences>
            <choiceReferences>c_86132c3e_b863_48f9_bff5_c4bf39d03f3c</choiceReferences>
            <choiceReferences>c_751c48f5_133e_49d8_bff3_40dbc3438c70</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;您是否可以通过系统及时完成巡店员日报/促销员日报录入工作？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c8d568a6_21eb_45f9_acbe_c389bae68a55</name>
            <choiceReferences>c_411036a6_217e_4c7d_bcb3_3f7f5c0f4ad7</choiceReferences>
            <choiceReferences>c_0aeece5a_db00_45ef_8d9d_b994b7d49e68</choiceReferences>
            <choiceReferences>c_7a275616_7f4e_432f_968d_1b3b21287191</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;当问题发生时，您是否能找到解决问题的人？并及时的处理问题？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3facc8a9_30df_4e27_9cf6_1b949555b3b8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;若请您对&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;系统进行全面评价，您认为评多少分（低&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;1&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;分&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;-&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;高&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;10&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 16px;&quot;&gt;分）&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>1	
2	
3	
4
5（完全不可用）
6
7	
8
9（满意）
10（十分满意）</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1edc77b0_d09e_43d7_9e9c_c29f2a192f9e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;您认为当前系统还需要在哪些方面进行优化以更好的满足工作需求？&lt;/span&gt;&lt;strong style=&quot;font-family: 宋体;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;再次感谢您的参与！&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Salesforce系统用户体验及满意度调研问卷&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;尊敬的用户您好，感谢您使用salesforce系统，为了更好为您提供服务，提升用户体验，恳请您用几分钟时间填写此问卷。本问卷实行匿名制，所有数据只用于统计分析，请您放心填写，谢谢您的参与。&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
