force-app/main/default/flows/salesforce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0aeece5a_db00_45ef_8d9d_b994b7d49e68</name>
        <choiceText>&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12364;&amp;#12289;&amp;#36969;&amp;#26178;&amp;#12395;&amp;#21839;&amp;#38988;&amp;#12434;&amp;#35299;&amp;#27770;&amp;#12391;&amp;#12365;&amp;#12394;&amp;#12356;&amp;#12371;&amp;#12392;&amp;#12399;&amp;#12383;&amp;#12414;&amp;#12395;&amp;#12354;&amp;#12426;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>いますが、適時に問題を解決できないことはたまにあります。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_389aee3d_5ac7_490a_8a7b_5267386937d4</name>
        <choiceText>&amp;#38750;&amp;#24120;&amp;#12395;&amp;#36969;&amp;#26178;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>非常に適時です。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_411036a6_217e_4c7d_bcb3_3f7f5c0f4ad7</name>
        <choiceText>&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12289;&amp;#36969;&amp;#26178;&amp;#12395;&amp;#21839;&amp;#38988;&amp;#12434;&amp;#35299;&amp;#27770;&amp;#12375;&amp;#12390;&amp;#12367;&amp;#12428;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>います、適時に問題を解決してくれます。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4bbeec4c_a6f6_4661_93d9_fbd989f45ec7</name>
        <choiceText>&amp;#24179;&amp;#22343;&amp;#30340;&amp;#12394;&amp;#20351;&amp;#12356;&amp;#12420;&amp;#12377;&amp;#12373;&amp;#12391;&amp;#12289;&amp;#20351;&amp;#12356;&amp;#24515;&amp;#22320;&amp;#12418;&amp;#24179;&amp;#22343;&amp;#30340;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>平均的な使いやすさで、使い心地も平均的です。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d899c61_a625_45a0_8e01_9b992f846796</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12398;&amp;#27969;&amp;#12428;&amp;#12399;&amp;#26126;&amp;#30906;&amp;#12375;&amp;#12390;&amp;#12356;&amp;#12394;&amp;#12356;&amp;#12375;&amp;#12289;&amp;#25805;&amp;#20316;&amp;#12399;&amp;#26989;&amp;#21209;&amp;#12491;&amp;#12540;&amp;#12474;&amp;#12434;&amp;#28288;&amp;#12383;&amp;#12375;&amp;#12390;&amp;#12356;&amp;#12414;&amp;#12379;&amp;#12435;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムの流れは明確していないし、操作は業務ニーズを満たしていません。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5b7b99d8_61d3_4d23_bb03_69e73bc20adf</name>
        <choiceText>&amp;#12392;&amp;#12390;&amp;#12418;&amp;#36969;&amp;#26178;&amp;#12391;&amp;#12377;&amp;#12364;&amp;#12289;&amp;#26178;&amp;#12395;&amp;#23458;&amp;#35251;&amp;#30340;&amp;#12394;&amp;#29702;&amp;#30001;&amp;#12391;&amp;#36933;&amp;#12428;&amp;#12427;&amp;#12371;&amp;#12392;&amp;#12364;&amp;#12354;&amp;#12426;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>とても適時ですが、時に客観的な理由で遅れることがあります。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_68e39aee_e75f_4362_8421_40a96ca1099e</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12398;&amp;#27969;&amp;#12428;&amp;#12399;&amp;#27604;&amp;#36611;&amp;#30340;&amp;#12395;&amp;#26126;&amp;#30906;&amp;#12391;&amp;#12289;&amp;#25805;&amp;#20316;&amp;#12399;&amp;#19968;&amp;#37096;&amp;#30340;&amp;#12395;&amp;#26989;&amp;#21209;&amp;#12491;&amp;#12540;&amp;#12474;&amp;#12434;&amp;#28288;&amp;#12383;&amp;#12375;&amp;#12390;&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムの流れは比較的に明確で、操作は一部的に業務ニーズを満たしています。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_767670e1_f462_4675_ae10_0f49e9146fef</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12391;&amp;#12506;&amp;#12540;&amp;#12472;&amp;#12398;&amp;#20445;&amp;#23384;&amp;#12392;&amp;#26908;&amp;#32034;&amp;#12398;&amp;#24540;&amp;#31572;&amp;#12399;&amp;#24179;&amp;#22343;&amp;#30340;&amp;#12391;&amp;#12289;&amp;#12354;&amp;#12427;&amp;#31243;&amp;#24230;&amp;#12398;&amp;#24453;&amp;#12385;&amp;#26178;&amp;#38291;&amp;#12364;&amp;#24517;&amp;#35201;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムでページの保存と検索の応答は平均的で、ある程度の待ち時間が必要です。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7a275616_7f4e_432f_968d_1b3b21287191</name>
        <choiceText>&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12364;&amp;#12289;&amp;#21839;&amp;#38988;&amp;#12399;&amp;#26410;&amp;#35299;&amp;#27770;&amp;#12398;&amp;#12414;&amp;#12414;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>いますが、問題は未解決のままです。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_831d3d19_8788_4014_9e55_9b78f9601e6a</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12391;&amp;#12506;&amp;#12540;&amp;#12472;&amp;#12398;&amp;#20445;&amp;#23384;&amp;#12392;&amp;#26908;&amp;#32034;&amp;#12398;&amp;#24540;&amp;#31572;&amp;#12399;&amp;#38750;&amp;#24120;&amp;#12395;&amp;#36895;&amp;#12367;&amp;#12289;&amp;#24453;&amp;#12388;&amp;#24517;&amp;#35201;&amp;#12399;&amp;#12354;&amp;#12426;&amp;#12414;&amp;#12379;&amp;#12435;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムでページの保存と検索の応答は非常に速く、待つ必要はありません。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_87cdbb9f_4160_4c69_affa_8f0fccfedd2e</name>
        <choiceText>&amp;#20351;&amp;#12356;&amp;#12395;&amp;#12367;&amp;#12356;&amp;#12289;&amp;#20351;&amp;#12356;&amp;#24515;&amp;#22320;&amp;#12418;&amp;#19981;&amp;#23433;&amp;#23450;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>使いにくい、使い心地も不安定です。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a231c36d_dccd_4aea_b89c_fa9e8cbfeeb6</name>
        <choiceText>&amp;#26222;&amp;#36890;&amp;#12391;&amp;#12377;&amp;#12290;&amp;#12424;&amp;#12367;&amp;#34892;&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>普通です。よく行います。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_af4154c5_cc7b_4b43_8b07_093432739fb5</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12398;&amp;#27969;&amp;#12428;&amp;#12399;&amp;#26126;&amp;#30906;&amp;#12391;&amp;#12289;&amp;#25805;&amp;#20316;&amp;#12399;&amp;#20840;&amp;#20307;&amp;#30340;&amp;#12395;&amp;#26989;&amp;#21209;&amp;#12491;&amp;#12540;&amp;#12474;&amp;#12434;&amp;#28288;&amp;#12383;&amp;#12375;&amp;#12390;&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムの流れは明確で、操作は全体的に業務ニーズを満たしています。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b954d337_6dab_449b_8b3f_03ef6c29afb8</name>
        <choiceText>&amp;#12363;&amp;#12394;&amp;#12426;&amp;#20351;&amp;#12356;&amp;#12420;&amp;#12377;&amp;#12367;&amp;#12289;&amp;#20351;&amp;#12356;&amp;#24515;&amp;#22320;&amp;#12418;&amp;#23433;&amp;#23450;&amp;#12375;&amp;#12390;&amp;#12356;&amp;#12414;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>かなり使いやすく、使い心地も安定しています。</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_caa6fff4_4f82_43dc_b1af_8acd4227064d</name>
        <choiceText>&amp;#12471;&amp;#12473;&amp;#12486;&amp;#12512;&amp;#12391;&amp;#12506;&amp;#12540;&amp;#12472;&amp;#12398;&amp;#20445;&amp;#23384;&amp;#12392;&amp;#26908;&amp;#32034;&amp;#12398;&amp;#24540;&amp;#31572;&amp;#12364;&amp;#36933;&amp;#12367;&amp;#12289;&amp;#38263;&amp;#12356;&amp;#24453;&amp;#12385;&amp;#26178;&amp;#38291;&amp;#12364;&amp;#24517;&amp;#35201;&amp;#12391;&amp;#12377;&amp;#12290;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>システムでページの保存と検索の応答が遅く、長い待ち時間が必要です。</stringValue>
        </value>
    </choices>
    <interviewLabel>Salesforce系统用户体验及满意度调研问卷</interviewLabel>
    <label>Salesforce系统用户体验及满意度调研问卷</label>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>isSimpleSurvey</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_EmailTemplate</name>
        <value>
            <stringValue>Embed_a_Survey_Link</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>svAddlInfo_InvitationSharingRole</name>
        <value>
            <stringValue>SurveyOwner</stringValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_04596f8c_20b0_4648_88ee_11190c8dcc5c</name>
            <choiceReferences>c_af4154c5_cc7b_4b43_8b07_093432739fb5</choiceReferences>
            <choiceReferences>c_68e39aee_e75f_4362_8421_40a96ca1099e</choiceReferences>
            <choiceReferences>c_4d899c61_a625_45a0_8e01_9b992f846796</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Salesforceシステムの使用にあたり、自分に関係する業務のプロセス及びシステム操作を理解していますか？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a70879f3_bb1d_4aac_8083_6e40ac96d4d4</name>
            <choiceReferences>c_831d3d19_8788_4014_9e55_9b78f9601e6a</choiceReferences>
            <choiceReferences>c_767670e1_f462_4675_ae10_0f49e9146fef</choiceReferences>
            <choiceReferences>c_caa6fff4_4f82_43dc_b1af_8acd4227064d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;Salesforceを使用する際に、システムの応答速度は？&lt;/span&gt;&lt;strong style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6f726477_d712_4cc0_9444_43db4902d3ab</name>
            <choiceReferences>c_b954d337_6dab_449b_8b3f_03ef6c29afb8</choiceReferences>
            <choiceReferences>c_4bbeec4c_a6f6_4661_93d9_fbd989f45ec7</choiceReferences>
            <choiceReferences>c_87cdbb9f_4160_4c69_affa_8f0fccfedd2e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 16px;&quot;&gt;現在&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;salesforce&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 16px;&quot;&gt;システムの使い心地&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;(&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 16px;&quot;&gt;案内は明確、操作は簡単&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 16px;&quot;&gt;)&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 16px;&quot;&gt;、とその安定性は？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f2dea084_8ecf_4d45_9ea4_a672c7d04dfc</name>
            <choiceReferences>c_389aee3d_5ac7_490a_8a7b_5267386937d4</choiceReferences>
            <choiceReferences>c_5b7b99d8_61d3_4d23_bb03_69e73bc20adf</choiceReferences>
            <choiceReferences>c_a231c36d_dccd_4aea_b89c_fa9e8cbfeeb6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;お客様商談報告の要件を理解しており、毎月適時に商談報告を入力していますか？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c8d568a6_21eb_45f9_acbe_c389bae68a55</name>
            <choiceReferences>c_411036a6_217e_4c7d_bcb3_3f7f5c0f4ad7</choiceReferences>
            <choiceReferences>c_0aeece5a_db00_45ef_8d9d_b994b7d49e68</choiceReferences>
            <choiceReferences>c_7a275616_7f4e_432f_968d_1b3b21287191</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;問題が発生した時、解決してくれる人はいますか?そして、適時に現場に来て問題解決してくれますか？&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3facc8a9_30df_4e27_9cf6_1b949555b3b8</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;Salesforce&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;システムを総合的に評価&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif; font-size: 12pt;&quot;&gt;いていただくと&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;、何点だと思いますか&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;? (&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;最低&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;1&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;点～最高&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;10&lt;/span&gt;&lt;span style=&quot;font-family: 宋体; font-size: 12pt;&quot;&gt;点&lt;/span&gt;&lt;span style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;, serif; font-size: 12pt;&quot;&gt;) &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>1
2	
3	
4（完全に利用できません）
5	
6（基本的に利用可能）	
7	
8（利用可能でありさらなるの改善も望ましい）
9	
10（非常に満足しています）</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1edc77b0_d09e_43d7_9e9c_c29f2a192f9e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;業務のニーズを満たすため、現在のシステムをさらに最適化する必要がある点として具体的に何があると思いますでしょうか？&lt;/span&gt;&lt;strong style=&quot;font-family: &amp;quot;Yu Mincho&amp;quot;, serif;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_8bc7bbeb_429b_45c1_9506_edd2d275dee1</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;再次感谢您的参与！&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>尊敬的用户您好，感谢您使用salesforce系统，为了更好为您提供服务，提升用户体验，恳请您用几分钟时间填写此问卷。本问卷实行匿名制，所有数据只用于统计分析，请您放心填写，谢谢您的参与。</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Salesforce系统用户体验及满意度调研问卷&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_3facc8a9_30df_4e27_9cf6_1b949555b3b8_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
