force-app/main/default/flows/Sample_Display_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Split_PO</name>
        <label>Split PO</label>
        <locationX>868</locationX>
        <locationY>526</locationY>
        <actionName>SampleDisplayPOApprovedController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sampleDisplayIdList</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SampleDisplayPOApprovedController</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>PO_Not_Null_Error</name>
        <label>PO Not Null Error</label>
        <locationX>1106</locationX>
        <locationY>390</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.PO_Not_Null}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Sample_Display_Number_Greater_PO_Error</name>
        <label>Sample_Display_Number_Greater_PO_Error</label>
        <locationX>681</locationX>
        <locationY>523</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Sample_Display_Number_Greater_PO}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Store_Details_Number_Verify</name>
        <label>Store_Details_Number_Verify</label>
        <locationX>449</locationX>
        <locationY>398</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Store_Details_Number_Verify}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>765</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_Details_Number</name>
            <conditionLogic>((1 AND 2 ) OR (4 AND 5) )AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Path__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Split Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Split Task</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sum_Store_Details_Number__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Path__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retail Manager Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail Manager Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Details_Number_Verify</targetReference>
            </connector>
            <label>Store_Details_Number</label>
        </rules>
        <rules>
            <name>PO_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Path__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Upload PO&amp;Product Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Path__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upload PO&amp;Product Number</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Count_PO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PO_Not_Null_Error</targetReference>
            </connector>
            <label>PO Not Null</label>
        </rules>
        <rules>
            <name>Sample_Display_Number_Greater_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Sum_PO_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sample_Display_Number_Greater_PO_Error</targetReference>
            </connector>
            <label>Sample Display Number Greater PO</label>
        </rules>
        <rules>
            <name>PO_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Split_PO</targetReference>
            </connector>
            <label>PO Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sample Display Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Display Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <object>Sample_Display__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
