force-app/main/default/flows/Sample_Set_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>769</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Owner_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_to_Customer_Owner</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Owner_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_Restore</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetOwner</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.RecordType.DeveloperName}, &apos;Store&apos;, {!$Record.Store__r.Account__r.OwnerId},  {!$Record.Customer__r.OwnerId})</expression>
    </formulas>
    <interviewLabel>Sample Set Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Set Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Owner_Restore</name>
        <label>Update Owner Restore</label>
        <locationX>453</locationX>
        <locationY>385</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_to_Customer_Owner</name>
        <label>Update Owner to Customer Owner</label>
        <locationX>1030</locationX>
        <locationY>382</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SetOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Owner_Flag__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sample_Display__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
