force-app/main/default/flows/Send_Email_Japan_Week_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Day</name>
        <label>Send Email Day</label>
        <locationX>775</locationX>
        <locationY>341</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AddLog</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>y.katsumata@hisense.com,yinyizhou@hisense.com,yasufumi.watanabe@hisense.com,s.kitade@hisense.com,y.nagayama@hisense.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectWeek</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyWeek</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Rレポート</description>
    <environments>Default</environments>
    <formulas>
        <name>LastWeek</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY() - 7)</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY() - 1)</expression>
    </formulas>
    <interviewLabel>日本发送邮件-过去一周日报 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>日本发送邮件-过去一周日报</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddLog</name>
        <label>添加日志</label>
        <locationX>388</locationX>
        <locationY>341</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>SendEmailJapanReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Req_Json__c</field>
            <value>
                <stringValue>Week</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnCode__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>InterfaceLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>651</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Send_Email_Day</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-03-27</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyWeek</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;お疲れ様です。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;R レポートを送付いたします。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;链接：&lt;/span&gt;&lt;a href=&quot;https://hisenseint.lightning.force.com/00O0o00000Cfp9AEAR&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(11, 143, 250);&quot;&gt;https://hisenseint.lightning.force.com/00O0o00000Cfp9AEAR&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;よろしくお願いいたします。&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectWeek</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>R レポート({!LastWeek}  -  {!Yesterday})</text>
    </textTemplates>
</Flow>
