force-app/main/default/flows/Send_Email_Japan_Yesterday_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Week</name>
        <label>Send Email Week</label>
        <locationX>776</locationX>
        <locationY>422</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AddLog</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>y.katsumata@hisense.com,yinyizhou@hisense.com,yasufumi.watanabe@hisense.com,s.kitade@hisense.com,y.nagayama@hisense.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectDay</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyDay</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Rレポート（日次）</description>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>String</dataType>
        <expression>TEXT(TODAY() - 1)</expression>
    </formulas>
    <interviewLabel>日本发送邮件-前一天日报 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>日本发送邮件-前一天日报</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddLog</name>
        <label>添加日志</label>
        <locationX>367</locationX>
        <locationY>421</locationY>
        <inputAssignments>
            <field>Class__c</field>
            <value>
                <stringValue>SendEmailJapanReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Req_Json__c</field>
            <value>
                <stringValue>Day</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnCode__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>InterfaceLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>649</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Send_Email_Week</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-23</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyDay</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;お疲れ様です。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;R レポート(日次)を送付いたします。&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;链接：&lt;/span&gt;&lt;a href=&quot;https://hisenseint.lightning.force.com/00O0o00000DMgAwEAL&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(11, 143, 250);&quot;&gt;https://hisenseint.lightning.force.com/00O0o00000DMgAwEAL&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, Arial, &amp;quot;Microsoft YaHei&amp;quot;, &amp;quot;Microsoft JhengHei&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;よろしくお願いいたします。&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectDay</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>R レポート(日次)({!Yesterday})</text>
    </textTemplates>
</Flow>
