force-app/main/default/flows/Store_Inspection_Manage_Daily_Sales_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>767</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_nspection_Manage_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store_Inspection_Manage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Store nspection Manage Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SetKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.Store_Sales_Region__c} + &apos;-&apos; + TEXT(YEAR({!$Record.PromoterDailyReport__r.Report_Date__c})) + &apos;-&apos; + TEXT(MONTH({!$Record.PromoterDailyReport__r.Report_Date__c})) + &apos;-&apos; + {!$Record.Product_Line__c } + &apos;-销售额&apos;</expression>
    </formulas>
    <formulas>
        <name>SetKeyHaveStore</name>
        <dataType>String</dataType>
        <expression>{!$Record.Store_Sales_Region__c} + &apos;-&apos; + TEXT(YEAR({!$Record.PromoterDailyReport__r.Report_Date__c})) + &apos;-&apos; + TEXT(MONTH({!$Record.PromoterDailyReport__r.Report_Date__c})) + &apos;-&apos; + {!$Record.Product_Line__c } + &apos;-销售额&apos; + &apos;-&apos; + {!$Record.Shop__c}</expression>
    </formulas>
    <interviewLabel>Store Inspection Manage Customer Visit Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Inspection Manage Daily Sales Create</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1017</locationX>
        <locationY>630</locationY>
        <collectionReference>Get_Store_Inspection_Manage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Inspection_Manage_Report</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Store_Inspection_Manage_Report</name>
        <label>Store Inspection Manage Report</label>
        <locationX>1126</locationX>
        <locationY>746</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Price__c</field>
            <value>
                <elementReference>$Record.TotalPrice__c</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Daily_Sales__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Store_Inspection_Manage</name>
        <label>Get  Store Inspection Manage</label>
        <locationX>775</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetKeyHaveStore</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Store_Inspection_Manage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Store_Inspection_Manage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsUpload__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Retail_Number__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
