force-app/main/default/flows/Store_Inspection_Manage_Report_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>769</locationX>
        <locationY>544</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_nspection_Manage_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store_Inspection_Manage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>Store nspection Manage Not Null</label>
        </rules>
    </decisions>
    <description>Inspection 创建同步创建 Store Inspection Manage Report</description>
    <environments>Default</environments>
    <formulas>
        <name>SetKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.Sales_Region__c} + &apos;-&apos; + {!$Record.OwnerId} + &apos;-&apos; + TEXT(YEAR({!$Record.Report_Date__c})) + &apos;-&apos; + TEXT(MONTH({!$Record.Report_Date__c})) +  &apos;-&apos; + 
IF(TEXT({!$Record.Report_Type__c}) = &apos;客户拓展&apos;, &apos;渠道拓展&apos;, TEXT({!$Record.Report_Type__c}))</expression>
    </formulas>
    <formulas>
        <name>SetKeyHaveCustomer</name>
        <dataType>String</dataType>
        <expression>{!$Record.Sales_Region__c} + &apos;-&apos; + {!$Record.OwnerId} + &apos;-&apos; + TEXT(YEAR({!$Record.Report_Date__c})) + &apos;-&apos; + TEXT(MONTH({!$Record.Report_Date__c})) +  &apos;-&apos; + IF(TEXT({!$Record.Report_Type__c}) = &apos;客户拓展&apos;, &apos;渠道拓展&apos;, TEXT({!$Record.Report_Type__c}))+ &apos;-&apos; + {!$Record.Customer__C}</expression>
    </formulas>
    <formulas>
        <name>SetKeyHaveStore</name>
        <dataType>String</dataType>
        <expression>{!$Record.Sales_Region__c} + &apos;-&apos; + {!$Record.OwnerId} + &apos;-&apos; + TEXT(YEAR({!$Record.Report_Date__c})) + &apos;-&apos; + TEXT(MONTH({!$Record.Report_Date__c})) +  &apos;-&apos; + IF(TEXT({!$Record.Report_Type__c}) = &apos;客户拓展&apos;, &apos;渠道拓展&apos;, TEXT({!$Record.Report_Type__c}))+ &apos;-&apos; + {!$Record.Store__c}</expression>
    </formulas>
    <interviewLabel>Store Inspection Manage Report Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Inspection Manage Report Create</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1000</locationX>
        <locationY>540</locationY>
        <collectionReference>Get_Store_Inspection_Manage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Inspection_Manage_Report</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Store_Inspection_Manage_Report</name>
        <label>Store Inspection Manage Report</label>
        <locationX>1119</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>$Record.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Store_Inspection_Manage</name>
        <label>Get  Store Inspection Manage</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetKeyHaveStore</elementReference>
            </value>
        </filters>
        <filters>
            <field>Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SetKeyHaveCustomer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Store_Inspection_Manage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>649</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Store_Inspection_Manage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Daily_Inspection_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
