force-app/main/default/flows/Store_Inspection_Manage_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_All_List</name>
        <label>Add All List</label>
        <locationX>1387</locationX>
        <locationY>973</locationY>
        <assignmentItems>
            <assignToReference>AllList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>one</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Sales_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_One</name>
        <label>Set One</label>
        <locationX>1388</locationX>
        <locationY>826</locationY>
        <assignmentItems>
            <assignToReference>one.Store_Inspection_Manage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>one.Daily_Sales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Sales_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>one.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Daily_Sales_Loop.TotalPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Customer_Extend</name>
        <label>Have Customer Extend</label>
        <locationX>1569</locationX>
        <locationY>682</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Customer_Extend</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Extend_Loop</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Customer_Visit</name>
        <label>Have Customer Visit</label>
        <locationX>483</locationX>
        <locationY>707</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Customer_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Loop</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Customer_Visit_Customer</name>
        <label>Have Customer Visit Customer</label>
        <locationX>734</locationX>
        <locationY>750</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Customer_Visit_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Visit_Customer_Loop</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Daily_Sales</name>
        <label>Have Daily Sales</label>
        <locationX>1228</locationX>
        <locationY>655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Sales</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Sales_Loop</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Inspection</name>
        <label>Have Inspection</label>
        <locationX>51</locationX>
        <locationY>653</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Store_inspection</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Inspection_0</name>
        <label>Have Inspection</label>
        <locationX>241</locationX>
        <locationY>666</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inspection_Have_Store</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Inspection_have_store</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_Type</name>
        <label>Task Type</label>
        <locationX>1017</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UniqueName1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>巡店</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection</targetReference>
            </connector>
            <label>巡店_门店为空</label>
        </rules>
        <rules>
            <name>have_store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>巡店</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Have_Store</targetReference>
            </connector>
            <label>巡店_门店不为空</label>
        </rules>
        <rules>
            <name>UniqueName2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>客户拜访</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Customer_Visit</targetReference>
            </connector>
            <label>客户拜访_客户为空</label>
        </rules>
        <rules>
            <name>Have_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>客户拜访</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Customer_Visit_Customer</targetReference>
            </connector>
            <label>客户拜访_客户不为空</label>
        </rules>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>渠道拓展</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inspection_Customer_Extend</targetReference>
            </connector>
            <label>渠道拓展</label>
        </rules>
        <rules>
            <name>UniqueName4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>销售额</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Daily_Sales</targetReference>
            </connector>
            <label>销售额</label>
        </rules>
        <rules>
            <name>UniqueName5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>重点产品</stringValue>
                </rightValue>
            </conditions>
            <label>重点产品</label>
        </rules>
        <rules>
            <name>UniqueName6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>人均效率</stringValue>
                </rightValue>
            </conditions>
            <label>人均效率</label>
        </rules>
        <rules>
            <name>UniqueName7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Task_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>店均效率</stringValue>
                </rightValue>
            </conditions>
            <label>店均效率</label>
        </rules>
    </decisions>
    <description>Store Inspection Manage 同步创建 Store Inspection Manage Report数据</description>
    <environments>Default</environments>
    <formulas>
        <name>Flag</name>
        <dataType>Boolean</dataType>
        <expression>TRUE</expression>
    </formulas>
    <formulas>
        <name>NextMonthFirstDay</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATE(VALUE(TEXT({!$Record.Year__c})),VALUE(TEXT({!$Record.Month__c})),1),1)</expression>
    </formulas>
    <formulas>
        <name>Thefirstday</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE(TEXT({!$Record.Year__c})),VALUE(TEXT({!$Record.Month__c})),1)</expression>
    </formulas>
    <interviewLabel>Store Inspection Manage Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Store Inspection Manage Create</label>
    <loops>
        <name>Customer_Extend_Loop</name>
        <label>Customer Extend Loop</label>
        <locationX>1577</locationX>
        <locationY>913</locationY>
        <collectionReference>Get_Inspection_Customer_Extend</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Store_Inspection_Manage_Customer_Extend</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Customer_Visit_Customer_Loop</name>
        <label>Customer Visit Customer Loop</label>
        <locationX>740</locationX>
        <locationY>912</locationY>
        <collectionReference>Get_Inspection_Customer_Visit_Customer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Store_Inspection_Manage_Customer_Visit_Customer</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Customer_Visit_Loop</name>
        <label>Customer Visit Loop</label>
        <locationX>491</locationX>
        <locationY>891</locationY>
        <collectionReference>Get_Inspection_Customer_Visit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Store_Inspection_Manage_Customer_Visit</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Daily_Sales_Loop</name>
        <label>Daily Sales Loop</label>
        <locationX>1237</locationX>
        <locationY>830</locationY>
        <collectionReference>Get_Daily_Sales</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_One</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Inspection_have_store</name>
        <label>Loop Inspection have store</label>
        <locationX>249</locationX>
        <locationY>847</locationY>
        <collectionReference>Get_Inspection_Have_Store</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Store_Inspection_Manage_Report_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Store_inspection</name>
        <label>Loop Store inspection</label>
        <locationX>49</locationX>
        <locationY>835</locationY>
        <collectionReference>Get_Inspection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Store_Inspection_Manage_Report</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_List</name>
        <label>Create All List</label>
        <locationX>1232</locationX>
        <locationY>1082</locationY>
        <inputReference>AllList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Store_Inspection_Manage_Customer_Extend</name>
        <label>Create Store Inspection Manage Customer Extend</label>
        <locationX>1681</locationX>
        <locationY>1013</locationY>
        <connector>
            <targetReference>Customer_Extend_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>Customer_Extend_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>Customer_Extend_Loop.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Store_Inspection_Manage_Customer_Visit</name>
        <label>Create Store Inspection Manage Customer Visit</label>
        <locationX>614</locationX>
        <locationY>993</locationY>
        <connector>
            <targetReference>Customer_Visit_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>Customer_Visit_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>Customer_Visit_Loop.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Store_Inspection_Manage_Customer_Visit_Customer</name>
        <label>Create Store Inspection Manage Customer Visit Customer</label>
        <locationX>856</locationX>
        <locationY>1037</locationY>
        <connector>
            <targetReference>Customer_Visit_Customer_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>Customer_Visit_Customer_Loop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>Customer_Visit_Customer_Loop.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Store_Inspection_Manage_Report</name>
        <label>Create Store Inspection Manage Report</label>
        <locationX>155</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>Loop_Store_inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>Loop_Store_inspection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>Loop_Store_inspection.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Store_Inspection_Manage_Report_0</name>
        <label>Create Store Inspection Manage Report</label>
        <locationX>368</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Loop_Inspection_have_store</targetReference>
        </connector>
        <inputAssignments>
            <field>Inspection_Report__c</field>
            <value>
                <elementReference>Loop_Inspection_have_store.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Type__c</field>
            <value>
                <elementReference>Loop_Inspection_have_store.Report_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Inspection_Manage__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Inspection_Manage_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Daily_Sales</name>
        <label>Get Daily Sales</label>
        <locationX>1238</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Daily_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReportDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>ReportDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Line__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Retail_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection</name>
        <label>Get Inspection</label>
        <locationX>58</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Inspection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Inspection_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Customer_Extend</name>
        <label>Get Inspection Customer Extend</label>
        <locationX>1571</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Customer_Extend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>客户拓展</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Inspection_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Customer_Visit</name>
        <label>Get Inspection Customer Visit</label>
        <locationX>493</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Customer_Visit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>客户拜访</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Inspection_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Customer_Visit_Customer</name>
        <label>Get Inspection Customer Visit Customer</label>
        <locationX>744</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Customer_Visit_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>客户拜访</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Inspection_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inspection_Have_Store</name>
        <label>Get Inspection Have Store</label>
        <locationX>248</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Inspection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Thefirstday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>NextMonthFirstDay</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Inspection_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>892</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Task_Type</targetReference>
        </connector>
        <object>Store_Inspection_Manage__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store_Inspection_Manage_Daily_Sales__c</objectType>
    </variables>
    <variables>
        <name>one</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Store_Inspection_Manage_Daily_Sales__c</objectType>
    </variables>
</Flow>
