force-app/main/default/flows/Sub_Account_Extend_Set_Payer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>is_Sub_Account</name>
        <label>is Sub Account</label>
        <locationX>768</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Account_Extend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sub_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payer</targetReference>
            </connector>
            <label>Sub Account Extend</label>
        </rules>
    </decisions>
    <description>分户的拓展payer默认主户</description>
    <environments>Default</environments>
    <interviewLabel>Sub Account Extend Set Payer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sub Account Extend Set Payer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Payer</name>
        <label>Set Payer</label>
        <locationX>777</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Payer__c</field>
            <value>
                <elementReference>$Record.Customer__r.ParentCustomerOfSubAcc__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>is_Sub_Account</targetReference>
        </connector>
        <object>Customer_Extend__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
