force-app/main/default/flows/SumPLScore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New_Brand_Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New_OEM_Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>scoresheetNotApproved</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Department_Agency_Score</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>OLD_AG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision15</name>
        <label>myDecision15</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Department_new_Agency_Score</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>NEW_AG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hisense USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>OLD_OSC_US</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>NEW_OSC_US</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>OLD_OSC_AU</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision27</name>
        <label>myDecision27</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>NEW_OSC_AU</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Brand_Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_OEM_Customer_selection_and_evaluation_criteria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>scoresheetNew</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>OLD_OSC_MX</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision33</name>
        <label>myDecision33</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_34</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_34_A1</targetReference>
            </connector>
            <label>NEW_OSC_MX</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Malaysia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>OLD_OSC_MY</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision39</name>
        <label>myDecision39</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense Malaysia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_40_A1</targetReference>
            </connector>
            <label>NEW_OSC_MY</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision45</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense South Africa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>OLD_OSC_ZA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision45</name>
        <label>myDecision45</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_46</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oversea_Company_Score_New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Customer__r.Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hisense South Africa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_46_A1</targetReference>
            </connector>
            <label>NEW_OSC_ZA</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Department_OEM_Score</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>OLD_OEM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Evaluated_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Department_new_OEM_Score</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>NEW_OEM</label>
        </rules>
    </decisions>
    <description>新打分表逻辑</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OEM_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OEM_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_A1_1337497184</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OEM_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OEM_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_AG_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_AG_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_AG_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_2013474673</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_AG_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_AG_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_AG_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_AG_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_AG_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_16_A1_8438530782</name>
        <dataType>String</dataType>
        <expression> IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_AG_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_AG_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_A1_7551469502</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_US_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_US_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_22_A1_5332219689</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_US_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_US_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_AU_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_25_A1_8959955288</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_AU_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_AU_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_AU_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_28_A1_1308693627</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_AU_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_AU_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([Score_Sheet__c].RecordType.DeveloperName = &apos;Sales_Department_Agency_Score&apos; || [Score_Sheet__c].RecordType.DeveloperName = &apos;Sales_Department_new_Agency_Score&apos; )&amp;&amp; [Score_Sheet__c].Rejection_Agency__c , 0, IF(ISPICKVAL([Score_Sheet__c].Industry_Ranking__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Industry_Ranking__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_Credit__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_Credit__c)))+
IF(ISPICKVAL([Score_Sheet__c].Payment_Collection_Overdue_Times__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Payment_Collection_Overdue_Times__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_Recognition__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_Recognition__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_Promotion__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_Promotion__c)))+
IF(ISPICKVAL([Score_Sheet__c].Profitability__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Profitability__c)))+
IF(ISPICKVAL([Score_Sheet__c].Growth_Potential__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Growth_Potential__c)))+
IF(ISPICKVAL([Score_Sheet__c].Sales_Forecast_and_Execution__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Sales_Forecast_and_Execution__c)))+
IF(ISPICKVAL([Score_Sheet__c].Ability_of_Mid_to_high_End__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Ability_of_Mid_to_high_End__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_Relationship__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_Relationship__c)))+
IF(ISPICKVAL([Score_Sheet__c].Sales_Volume__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Sales_Volume__c)))+
IF(ISPICKVAL([Score_Sheet__c].Ability_of_Mid_to_high_End_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Ability_of_Mid_to_high_End_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperate_with_other_product_lines_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperate_with_other_product_lines_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_Credit_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_Credit_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_Relationship_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_Relationship_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Growth_Potential_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Growth_Potential_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_Recognition_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_Recognition_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Sales_Forecast_and_Execution_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Sales_Forecast_and_Execution_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperate_Willingness_A_sellout_Ag__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperate_Willingness_A_sellout_Ag__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperate_Willingness_B_stock_order_Ag__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperate_Willingness_B_stock_order_Ag__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperate_Willingness_C_stock_order_Ag__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperate_Willingness_C_stock_order_Ag__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperative_Product_Agency__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperative_Product_Agency__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_Credit_Agency__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_Credit_Agency__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_Recognition_Agency__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_Recognition_Agency__c)))+
IF(ISPICKVAL([Score_Sheet__c].Local_power_Agency__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Local_power_Agency__c)))) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5439280599</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.RecordType.DeveloperName} = &apos;Sales_Department_Agency_Score&apos; || {!myVariable_current.RecordType.DeveloperName} = &apos;Sales_Department_new_Agency_Score&apos; )&amp;&amp; {!myVariable_current.Rejection_Agency__c} , 0, IF(ISPICKVAL({!myVariable_current.Industry_Ranking__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Industry_Ranking__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_Credit__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_Credit__c})))+
IF(ISPICKVAL({!myVariable_current.Payment_Collection_Overdue_Times__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Payment_Collection_Overdue_Times__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_Recognition__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_Recognition__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_Promotion__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_Promotion__c})))+
IF(ISPICKVAL({!myVariable_current.Profitability__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Profitability__c})))+
IF(ISPICKVAL({!myVariable_current.Growth_Potential__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Growth_Potential__c})))+
IF(ISPICKVAL({!myVariable_current.Sales_Forecast_and_Execution__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Sales_Forecast_and_Execution__c})))+
IF(ISPICKVAL({!myVariable_current.Ability_of_Mid_to_high_End__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Ability_of_Mid_to_high_End__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_Relationship__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_Relationship__c})))+
IF(ISPICKVAL({!myVariable_current.Sales_Volume__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Sales_Volume__c})))+
IF(ISPICKVAL({!myVariable_current.Ability_of_Mid_to_high_End_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Ability_of_Mid_to_high_End_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperate_with_other_product_lines_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperate_with_other_product_lines_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_Credit_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_Credit_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_Relationship_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_Relationship_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Growth_Potential_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Growth_Potential_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_Recognition_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_Recognition_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Sales_Forecast_and_Execution_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Sales_Forecast_and_Execution_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperate_Willingness_A_sellout_Ag__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperate_Willingness_A_sellout_Ag__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperate_Willingness_B_stock_order_Ag__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperate_Willingness_B_stock_order_Ag__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperate_Willingness_C_stock_order_Ag__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperate_Willingness_C_stock_order_Ag__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperative_Product_Agency__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperative_Product_Agency__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_Credit_Agency__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_Credit_Agency__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_Recognition_Agency__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_Recognition_Agency__c})))+
IF(ISPICKVAL({!myVariable_current.Local_power_Agency__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Local_power_Agency__c}))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MX_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MX_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MX_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_32_myRule_31_A1_2671176181</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MX_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MX_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MX_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_MX_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_MX_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_35_myRule_34_A1_7258014174</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_MX_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_MX_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MY_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MY_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_MY_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_38_myRule_37_A1_0417843371</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MY_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MY_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_MY_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_MY_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_MY_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_41_myRule_40_A1_2423315632</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_MY_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_MY_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_ZA_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_ZA_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OSC_ZA_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_44_myRule_43_A1_0398545659</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_ZA_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_ZA_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OSC_ZA_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_ZA_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.NEW_OSC_ZA_Normal) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_47_myRule_46_A1_4727272453</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_ZA_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.NEW_OSC_ZA_Normal}) , &apos;Normal Customer&apos;, &apos;Inferior Customer&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Score_Sheet__c].RecordType.DeveloperName, 
&apos;New_Brand_Customer_selection_and_evaluation_criteria&apos;, 
IF(ISPICKVAL([Score_Sheet__c].Customer_credit_rating__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_credit_rating__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperation_product_lineup__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperation_product_lineup__c)))+
IF(ISPICKVAL([Score_Sheet__c].Industry_ranking_brand__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Industry_ranking_brand__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_brand_recognition__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_brand_recognition__c)))+
IF(ISPICKVAL([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_A__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_A__c)))+
IF(ISPICKVAL([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_B__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_B__c)))+
IF(ISPICKVAL([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_C__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Willingness_to_cooperate_with_Hisense_C__c)))
, 
&apos;New_OEM_Customer_selection_and_evaluation_criteria&apos;, 
IF(ISPICKVAL([Score_Sheet__c].Customer_credit_rating_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_credit_rating_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Industry_ranking_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Industry_ranking_OEM__c)))+
IF(ISPICKVAL([Score_Sheet__c].Petential_development_capacity__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Petential_development_capacity__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperation_product_lineup_OEM__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperation_product_lineup_OEM__c)))
,
IF(ISPICKVAL([Score_Sheet__c].Industry_ranking_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Industry_ranking_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_credit_rating_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_credit_rating_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Hisense_brand_recognition_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Hisense_brand_recognition_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperation_product_lineup_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperation_product_lineup_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Customer_profitability_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Customer_profitability_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Petential_development_capacity_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Petential_development_capacity_new__c)))+
IF(ISPICKVAL([Score_Sheet__c].Cooperated_product_line_new__c,&apos;&apos;),0,VALUE(TEXT([Score_Sheet__c].Cooperated_product_line_new__c)))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_8235424077</name>
        <dataType>Number</dataType>
        <expression>CASE({!myVariable_current.RecordType.DeveloperName}, 
&apos;New_Brand_Customer_selection_and_evaluation_criteria&apos;, 
IF(ISPICKVAL({!myVariable_current.Customer_credit_rating__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_credit_rating__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperation_product_lineup__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperation_product_lineup__c})))+
IF(ISPICKVAL({!myVariable_current.Industry_ranking_brand__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Industry_ranking_brand__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_brand_recognition__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_brand_recognition__c})))+
IF(ISPICKVAL({!myVariable_current.Willingness_to_cooperate_with_Hisense_A__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Willingness_to_cooperate_with_Hisense_A__c})))+
IF(ISPICKVAL({!myVariable_current.Willingness_to_cooperate_with_Hisense_B__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Willingness_to_cooperate_with_Hisense_B__c})))+
IF(ISPICKVAL({!myVariable_current.Willingness_to_cooperate_with_Hisense_C__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Willingness_to_cooperate_with_Hisense_C__c})))
, 
&apos;New_OEM_Customer_selection_and_evaluation_criteria&apos;, 
IF(ISPICKVAL({!myVariable_current.Customer_credit_rating_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_credit_rating_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Industry_ranking_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Industry_ranking_OEM__c})))+
IF(ISPICKVAL({!myVariable_current.Petential_development_capacity__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Petential_development_capacity__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperation_product_lineup_OEM__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperation_product_lineup_OEM__c})))
,
IF(ISPICKVAL({!myVariable_current.Industry_ranking_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Industry_ranking_new__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_credit_rating_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_credit_rating_new__c})))+
IF(ISPICKVAL({!myVariable_current.Hisense_brand_recognition_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Hisense_brand_recognition_new__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperation_product_lineup_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperation_product_lineup_new__c})))+
IF(ISPICKVAL({!myVariable_current.Customer_profitability_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Customer_profitability_new__c})))+
IF(ISPICKVAL({!myVariable_current.Petential_development_capacity_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Petential_development_capacity_new__c})))+
IF(ISPICKVAL({!myVariable_current.Cooperated_product_line_new__c},&apos;&apos;),0,VALUE(TEXT({!myVariable_current.Cooperated_product_line_new__c})))
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OEM_Strategy) , &apos;Strategy Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OEM_Quality) , &apos;Quality Customer&apos;, IF([Score_Sheet__c].Evaluated_Score__c &gt;= VALUE($Label.OLD_OEM_Normal) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_6041801482</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OEM_Strategy}) , &apos;Strategy Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OEM_Quality}) , &apos;Quality Customer&apos;, IF({!myVariable_current.Evaluated_Score__c} &gt;= VALUE({!$Label.OLD_OEM_Normal}) , &apos;Normal Customer&apos;, &apos;Potential Eliminated Customer&apos;)))</expression>
    </formulas>
    <interviewLabel>SumPLScore-2_InterviewLabel</interviewLabel>
    <label>SumPLScore</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Score_Sheet__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>update rank</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_11_myRule_10_A1_1337497184</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>update rank</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_2013474673</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_16_A1</name>
        <label>update rank</label>
        <locationX>1600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_17_myRule_16_A1_8438530782</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>update rank</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_20_myRule_19_A1_7551469502</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>SumPLScore</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Score</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Score__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5439280599</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>update rank</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_23_myRule_22_A1_5332219689</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>update rank</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_26_myRule_25_A1_8959955288</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_28_A1</name>
        <label>update rank</label>
        <locationX>2800</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_29_myRule_28_A1_1308693627</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>update rank</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_32_myRule_31_A1_2671176181</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_34_A1</name>
        <label>update rank</label>
        <locationX>3400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_35_myRule_34_A1_7258014174</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>update rank</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_38_myRule_37_A1_0417843371</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_40_A1</name>
        <label>update rank</label>
        <locationX>4000</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_41_myRule_40_A1_2423315632</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>update rank</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_44_myRule_43_A1_0398545659</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_46_A1</name>
        <label>update rank</label>
        <locationX>4600</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_47_myRule_46_A1_4727272453</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>SumPLScore</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Score</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Score__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_8235424077</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Score_Sheet__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>update rank</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Evaluated Rank</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Evaluated_Rank__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_6041801482</elementReference>
            </value>
        </inputAssignments>
        <object>Score_Sheet__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Score_Sheet__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Score_Sheet__c</objectType>
    </variables>
</Flow>
