force-app/main/default/flows/Training_Task_User_Update_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>培训人员更改人员 Training Personnel 更改，Training Task Share更新</description>
    <environments>Default</environments>
    <interviewLabel>Training Task User Update User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Task User Update User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_New_Share</name>
        <label>Insert New Share</label>
        <locationX>785</locationX>
        <locationY>682</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Training_Task__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Training_Sharing__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Task__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Del_Old_Share</name>
        <label>Del Old Share</label>
        <locationX>780</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Insert_New_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Training_Task__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training_Sharing__c</stringValue>
            </value>
        </filters>
        <object>Training_Task__Share</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Training_Personnel</name>
        <label>Update Training Personnel</label>
        <locationX>779</locationX>
        <locationY>402</locationY>
        <connector>
            <targetReference>Del_Old_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Task_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Personnel__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Training_Personnel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Task_User__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
