force-app/main/default/flows/Training_Task_User_Pass_The_Examination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Score</name>
        <label>Decision Score</label>
        <locationX>770</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_be_evaluated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_be_evaluated</targetReference>
            </connector>
            <label>待测评</label>
        </rules>
        <rules>
            <name>Not_pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Training_Task__r.Pass_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Task__r.Pass_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Pass</targetReference>
            </connector>
            <label>未通过</label>
        </rules>
        <rules>
            <name>Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Training_Task__r.Pass_Score__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Task__r.Pass_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pass</targetReference>
            </connector>
            <label>通过</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Training Task User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Task User Pass The Examination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Not_Pass</name>
        <label>Set Not Pass</label>
        <locationX>1095</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>未通过</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pass</name>
        <label>Set Pass</label>
        <locationX>779</locationX>
        <locationY>610</locationY>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>通过</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_To_be_evaluated</name>
        <label>Set To be evaluated</label>
        <locationX>471</locationX>
        <locationY>388</locationY>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>待测评</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision_Score</targetReference>
        </connector>
        <object>Training_Task_User__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
