force-app/main/default/flows/Training_Task_Pass_Score_Sync_Training_User_Pass_The_Examination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>766</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Not_pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pass_Score_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pass_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_be_evaluated</targetReference>
            </connector>
            <label>Pass Score is Null</label>
        </rules>
    </decisions>
    <description>培训通过分数更改同步修改人员的通过状态</description>
    <environments>Default</environments>
    <interviewLabel>Training Task Pass Score Sync Training User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Task Pass Score Sync Training User Pass The Examination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Not_pass</name>
        <label>Not_pass</label>
        <locationX>1040</locationX>
        <locationY>401</locationY>
        <connector>
            <targetReference>Set_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Score__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.Pass_Score__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>未通过</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Task_User__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Pass</name>
        <label>Set  Pass</label>
        <locationX>1041</locationX>
        <locationY>627</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Score__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Pass_Score__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>通过</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Task_User__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>To_be_evaluated</name>
        <label>To_be_evaluated</label>
        <locationX>462</locationX>
        <locationY>410</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pass_The_Examination__c</field>
            <value>
                <stringValue>待测评</stringValue>
            </value>
        </inputAssignments>
        <object>Training_Task_User__c</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pass_Score__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
